# Data Wrangling

A Python script that Audit and cleanse the dataset 'dataset1_with_error.csv', then output a clean data set 'dataset1_solution.csv'


Libraries used: 
* pandas 
* re 
* datetime
* collections
* difflib
* numpy

## Input:
    dataset1_with_error.csv

Different generic and major data problems could be found in the input data set:
- Typos and spelling mistakes
- Irregularities, e.g., abnormal data values and data formats
- Violations of the Integrity constraint.
- Outliers
- Duplications
- Missing values
- Inconsistency, e.g., inhomogeneity in values and types in representing the same data


## Output:
    'dataset1_solution.csv'


Format:

<style>
td {
  font-size: 80px
}
</style>

| COLUMN | [FORMAT] AND DESCRIPTION |
| --- | --- |
| Id | [Integer] 8 digit Id of the job advertisement |
| Title | [String] Title of the advertised job position |
| Location | [String] Location of the advertised job position |
| Company | [String] Company (employer) of the advertised job position |
| ContractType | [String] The contract type of the advertised job position, it could be full-time, part-time or non-specified |
| ContractTime | [String] The contract time of the advertised job position, it could be permanent, contract or non-specified |
| Category | [String] The Category of the advertised job position, e.g., IT jobs, Engineering Jobs, etc |
| Salary | [Float] Annual Salary of the advertised job position, e.g., 80000 |
| OpenDate | [String] The opening time for applying for the advertised job position, e.g.,20120104T150000, means 3pm, 4th January 2012 |
| CloseDate | [String] The closing time for applying for the advertised job position, e.g.,20120104T150000, means 3pm, 4th January 2012 |
| SourceName | [String] The website where the job position is advertised |

## Import libraries

In [1]:
import pandas as pd
import re
import numpy as np
from collections import Counter
from difflib import SequenceMatcher
from datetime import datetime

## Task 1. Auditing and cleansing the loaded data

Here is the code for identify data problems and to fix them.

## Part1. File reading and infomation gatherthing

In [2]:
df = pd.read_csv('./dataset1_with_error.csv')

In [3]:
df.shape

(55169, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55169 entries, 0 to 55168
Data columns (total 11 columns):
Id              55169 non-null int64
Title           55169 non-null object
Location        55169 non-null object
Company         51320 non-null object
ContractType    33493 non-null object
ContractTime    47047 non-null object
Category        55169 non-null object
Salary          53584 non-null object
OpenDate        55169 non-null object
CloseDate       55169 non-null object
Source          55169 non-null object
dtypes: int64(1), object(10)
memory usage: 4.6+ MB

In [5]:
# Describing the Id would not make any scence so we only do it on object type items
df.describe(include=['O'])

,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
count,55169,55169,51320,33493,47047,55169,53584,55169,55169,55169
unique,55166,489,9064,4,4,8,3757,2194,2418,106
top,Pensions Administrators (Temporary/Contract),UK,,,permanent,IT Jobs,35000,20120415T150000,20131208T000000,totaljobs.com
freq,2,8397,1133,14902,33637,14344,1865,45,45,10102

In [6]:
df.isnull().sum()

Id                  0
Title               0
Location            0
Company          3849
ContractType    21676
ContractTime     8122
Category            0
Salary           1585
OpenDate            0
CloseDate           0
Source              0
dtype: int64

In [7]:
df.head(3)

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
0,12612628,Engineering Systems Analyst,Dorking,Gregory Martin International,NaN,permanent,Engineering Jobs,25000,20130708T120000,20130906T120000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Glasgow,Gregory Martin International,NaN,permanent,Engineering Jobs,30000,20120130T000000,20120330T000000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Hampshire,Gregory Martin International,NaN,permanent,Engineering Jobs,30000,20121221T150000,20130120T150000,cv-library.co.uk

After the study of the data, we found that 'ContractType', 'ContractTime' and 'Category' are easy to clean if we compare these to 'Salary' or 'Company' column. Hence we will focus on these columns first.

## Part2. 'Contract' and 'Category'

    Part2.a
    ContractTime and ContractType

In [8]:
df.ContractTime.value_counts()

permanent    33637
-             6249
contract      6089
              1072
Name: ContractTime, dtype: int64

In [9]:
# All we need to do is keeping 'permanent' and 'contract', then replace NaN, '-' and space with 'non-specified' as required
df.ContractTime.fillna("non-specified", inplace = True) 
df.ContractTime=df.ContractTime.replace(r'(^\s+$|^-$)', 'non-specified', regex=True)

In [10]:
print (df.ContractTime.value_counts())

permanent        33637
non-specified    15443
contract          6089
Name: ContractTime, dtype: int64

In [11]:
# Then in the same way, for 'ContractType'
df.ContractType.value_counts()

             14902
full_time    12303
-             4720
part_time     1568
Name: ContractType, dtype: int64

In [12]:
# Similarly, the output in this column should be 'full-time','part-time' and 'no-specified'
df.ContractType.fillna("non-specified", inplace = True) 
df.ContractType=df.ContractType.replace(r'(^\s+$|^-$)', 'non-specified', regex=True)
df.ContractType=df.ContractType.replace(r'_', '-', regex=True)

In [13]:
print (df.ContractType.value_counts())

non-specified    41298
full-time        12303
part-time         1568
Name: ContractType, dtype: int64

    Part2.b
    What inside the 'Category'?

In [14]:
print (df.Category.value_counts())

IT Jobs                             14344
Healthcare & Nursing Jobs            8809
Engineering Jobs                     8210
Accounting & Finance Jobs            7138
Sales Jobs                           5349
Hospitality & Catering Jobs          4788
Teaching Jobs                        3779
PR, Advertising & Marketing Jobs     2752
Name: Category, dtype: int64

Seems the 'Category' is meet our requirement and display without the NaN value inside. So we can just keep it.
let us see the data frame looks so far.

In [15]:
df.describe(include=['O'])

,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
count,55169,55169,51320,55169,55169,55169,53584,55169,55169,55169
unique,55166,489,9064,3,3,8,3757,2194,2418,106
top,Pensions Administrators (Temporary/Contract),UK,,non-specified,permanent,IT Jobs,35000,20120415T150000,20131208T000000,totaljobs.com
freq,2,8397,1133,41298,33637,14344,1865,45,45,10102

## Part3. We now move to 'Location', 'Company' and 'Source'

     Part3.a 
     We first focus on the 'Company' colume

In [16]:
print (df.Company.value_counts())

                                    1133
UKStaffsearch                        498
-                                    406
Randstad                             402
CVbrowser                            328
Penguin Recruitment                  252
Matchtech Group plc.                 242
London4Jobs                          201
COREcruitment International          192
Hays                                 190
JOBG8                                183
Chef Results                         177
JAM Recruitment Ltd                  150
Populus Healthcare                   146
Michael Page Finance                 136
Computer People                      135
Senitor Associates                   132
Bee Recruitment London Ltd           124
Evolution Recruitment Solutions      111
Liquid Personnel Ltd                 109
Experis IT                           109
SYK Recruitment                      107
Computer Futures                     107
Adecco                               106
Clear Selection                      106
IDEX Consulting LLP                  105
Capita Resourcing                    104
Monarch Recruitment                  103
Towngate Personnel                   102
The Placement Group                   98
                                    ...
Excell Supply                          1
REED                                   1
Premium Medical Protection             1
All Temps Recruitment Ltd              1
Sapient                                1
Experis Limited                        1
Danelock Engineering Ltd               1
Safestyle UK                           1
Encore Personnel                       1
AMDAS RECRUITMENT                      1
TelePower  Limited                     1
CMA Recruitment   Basingstoke          1
Red Kite Selection Ltd                 1
The Recruitment Fix Ltd                1
Search Recruitment Agency              1
Live Nation Entertainment              1
North Wessex Training                  1
Aptus Accounting                       1
Rugby Borough Council                  1
A+ Teachers                            1
Alpha Hospitals                        1
NL recruitment                         1
Recruitment Solutions Wales            1
Ruth Halliday Associates               1
Definitive Recruitment Ltd.            1
Austin Banks Ltd                       1
LBM                                    1
CMT UK Pedagogy Ltd                    1
Denovo Games                           1
Chiltern and Glaisdale Nurseries       1
Name: Company, Length: 9064, dtype: int64

In [17]:
# there are some missing values, typo and Inconsistency.
# We need introduce different symbols to represent missingness later on for Company from different source 
print ("number of missing:",df.Company.isnull().sum())

number of missing: 3849

In [18]:
# the following function is the clean and normalize the company field.
def removeEndSpecialCharCompany(company):
    if pd.isnull(company):
        return company
    else:
        # normalize to upper case letters
        company = company.upper()
        # remove special character at the end
        company = re.sub(r"\W+$", "", company)
        # replace LIMITED with LTD
        company = company.replace("LIMITED", "LTD")
        # replace " AND " with " & " for processing 
        company = company.replace(" & ", " AND ")
        # remove all special characters except space and dot
        company = re.sub(r'([^\w\s\.]|_)', '', company)
        # change " AND " back to " & " 
        company = company.replace(" AND ", " & ")
        # replace multiple spaces with a single space, also trim spaces on both side
        company = re.sub( '\s+', ' ', company).strip()
        return company
print (len(set(df.Company)), "different companies in the current data set")
df['Company'] = df.Company.apply(lambda x: removeEndSpecialCharCompany(x))
print (len(set(df.Company)), "different companies after normalization")

9065 different companies in the current data set
8544 different companies after normalization

In [19]:
#check the similarity between two string
# This function is quoted from 'data cleansing.ipynb'
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [20]:
# find the high frequency location to low frequency location
def match_highfreq_To_lowfreq(data, min_threshold, max_threshold):
    # check low frequency company names
    lowfreq_data_list = [k for k,v in Counter(data).items() if v<=5]
    print ("Number of lowfreq_data", len(lowfreq_data_list))
    highfreq_data_list = list(set(data[~(data.isnull())]).difference(lowfreq_data_list))
    print ("Number of highfreq_data", len(highfreq_data_list))
    # the printed data tells that probably not many companies posted more than 5 jobs in those years.


    match_data={}
    for lowfreq_data in lowfreq_data_list:
        for highfreq_data in highfreq_data_list:
            ratio = similar(lowfreq_data.upper(), highfreq_data.upper())
            if ratio >= min_threshold and ratio <= max_threshold:
                match_data[lowfreq_data] = highfreq_data
                print(lowfreq_data, ":", highfreq_data, ratio)
    return match_data

In [21]:
# Apply the function and find  the company with typo
match_data_company=match_highfreq_To_lowfreq(df.Company, 0.95, 1)

Number of lowfreq_data 6600
Number of highfreq_data 1943
INSPIRE PEOPLE : INSPIRED PEOPLE 0.9655172413793104
RANDSTAD FINANCIAL PROFESSIONAL : RANDSTAD FINANCIAL & PROFESSIONAL 0.96875
JANE LEWIS HEALTH & SOCIAL CARE : JANE LEWIS HEALTH SOCIAL CARE 0.9666666666666667
WEBRECRUIT LTD : WEB RECRUIT LTD 0.9655172413793104
SIGMAR RECRUITMENT : SIGMA RECRUITMENT 0.9714285714285714
SOLUTION RECRUITMENT : SOLUTIONS RECRUITMENT 0.975609756097561
CCITY IT RECRUITMENT : C CITY IT RECRUITMENT 0.975609756097561
PROSPER RECRUITMENT : PROSPERO RECRUITMENT 0.9743589743589743
TRAVAIL EMPLOYMNET GROUP : TRAVAIL EMPLOYMENT GROUP 0.9583333333333334
ADMIRAL HOTELS RESTAURANTS : ADMIRAL HOTELS & RESTAURANTS 0.9629629629629629
BLUETOWNONLINE : BLUETOWN ONLINE 0.9655172413793104
PRIMETIME RECRUITMENT : PRIME TIME RECRUITMENT 0.9767441860465116
EDSTAFF LTD : EDUSTAFF LTD 0.9565217391304348
SOLUTIONS2RECRUITMENT : SOLUTIONS RECRUITMENT 0.9523809523809523
BERKELEY SCOTT CONTRACT CATERING FACILITIES MANAGEMENT : BERKELEY SCOTT CONTRACT CATERING & FACILITIES MANAGEMENT 0.9818181818181818
SPORTSDIRECT : SPORTS DIRECT 0.96
ADDITIONAL RESOURCE : ADDITIONAL RESOURCES 0.9743589743589743
BSV RECRUITMENT LTD : BV RECRUITMENT LTD 0.972972972972973
AM RECRUITMENT : JAM RECRUITMENT 0.9655172413793104
D P CONNECT : DP CONNECT 0.9523809523809523
ONE RECRUITMENT : NE RECRUITMENT 0.9655172413793104
NON STOP RECRUITMENT : NONSTOP RECRUITMENT 0.9743589743589743
DEBT CREDIT SOLUTIONS LTD : DEBT & CREDIT SOLUTIONS LTD 0.9615384615384616
TIME 4 RECRUITMENT SOLUTIONS : TIME RECRUITMENT SOLUTIONS 0.9629629629629629
OCC COMPUTER PERSONNEL : OCC COMPUTER PERSONNELRI 0.9565217391304348
RECRUITMENT REVOLUTION.COM LTD : RECRUITMENTREVOLUTION.COM LTD 0.9830508474576272
JAMIE S ITALIAN : JAMIES ITALIAN 0.9655172413793104
BMS GRADUATE : BMS GRADUATES 0.96
ASHTON RECRUITMENT : ASTON RECRUITMENT 0.9714285714285714
BE PERSONNEL LTD : E PERSONNEL LTD 0.967741935483871
SHAW HEALTH CARE : SHAW HEALTHCARE 0.967741935483871
COYLE PERSONNEL PLC : COYLES PERSONNEL PLC 0.9743589743589743
THREEPEOPLE : THREE PEOPLE 0.9565217391304348
PEOPLE COM LTD : PEOPLECOM LTD 0.9629629629629629
BADENOCHCLARK : BADENOCH CLARK 0.9629629629629629
DERBYSHIRE COUNTY COUNCIL 2 : DERBYSHIRE COUNTY COUNCIL 0.9615384615384616
COBURGBANKS : COBURG BANKS 0.9565217391304348
BOND RECRUIMENT : BOND RECRUITMENT 0.967741935483871
HW ASSOCIATES RECRUITMENT LTD : HWA ASSOCIATES RECRUITMENT LTD 0.9830508474576272
ANGLIAN HOME IMPROVEMENT : ANGLIAN HOME IMPROVEMENTS 0.9795918367346939
RECRUITMENTCONSULATANT.COM : RECRUITMENTCONSULTANT.COM 0.9803921568627451
CPL HEATHCARE : CPL HEALTHCARE 0.9629629629629629
SOLUTIONS 2 RECRUITMENT : SOLUTIONS RECRUITMENT 0.9545454545454546
NON STOP RECRUITMENT LTD : NONSTOP RECRUITMENT LTD 0.9787234042553191
JFL SEARCH & SELECTION : JFL SEARCH SELECTION 0.9523809523809523
RETRACK PERSONNEL : RE TRACK PERSONNEL 0.9714285714285714
SOLUTIONS 4 RECRUITMENT : SOLUTIONS RECRUITMENT 0.9545454545454546
PDA SEARCH & SELECTION : PDA SEARCH SELECTION 0.9523809523809523
TRAVAIL EMPLYMENT GROUP : TRAVAIL EMPLOYMENT GROUP 0.9787234042553191
DEERFOOT I.T. RESOURCES LTD : DEERFOOT IT RESOURCES LTD 0.9615384615384616
INTA PEOPLE : INTAPEOPLE 0.9523809523809523
EXIGO RECRUITMENT LTD : ELIGO RECRUITMENT LTD 0.9523809523809523
RESOURCE GROUP : RESOURCES GROUP 0.9655172413793104
KIRKHAMYOUNG LTD : KIRKHAM YOUNG LTD 0.9696969696969697
ANDERS ELITE : ANDERSELITE 0.9565217391304348
.MICHAEL PAGE FINANCIAL SERVICES : MICHAEL PAGE FINANCIAL SERVICES 0.9841269841269841
EASY WEB RECRUITMENT : EASYWEB RECRUITMENT 0.9743589743589743

In [22]:
# replace lower frequent with higher frequent company name
# also replace NaN and space with 'NON-SPECIFIED'
df.Company=df.Company.replace(match_data_company)
df.Company=df.Company.replace(r'^\s*$', 'NON-SPECIFIED', regex=True)
df.Company.fillna('NON-SPECIFIED', inplace = True)

In [23]:
# Check the company again
print (df.Company.value_counts())

NON-SPECIFIED                                   5389
UKSTAFFSEARCH                                    498
RANDSTAD                                         403
CVBROWSER                                        328
MATCHTECH GROUP PLC                              286
PENGUIN RECRUITMENT                              252
HAYS                                             230
LONDON4JOBS                                      201
CORECRUITMENT INTERNATIONAL                      197
JAM RECRUITMENT LTD                              192
JOBG8                                            184
CHEF RESULTS                                     177
POPULUS HEALTHCARE                               146
ADDITIONAL RESOURCES LTD                         142
MICHAEL PAGE FINANCE                             136
COMPUTER PEOPLE                                  135
SENITOR ASSOCIATES                               132
IDEX CONSULTING LLP                              131
BEE RECRUITMENT LONDON LTD                       124
SUPPORT SERVICES GROUP                           122
HCL PERMANENT                                    115
EVOLUTION RECRUITMENT SOLUTIONS                  111
LIQUID PERSONNEL LTD                             109
EXPERIS IT                                       109
TOWNGATE PERSONNEL                               108
COMPUTER FUTURES                                 107
SWIIS HEALTHCARE                                 107
ADECCO                                           107
SYK RECRUITMENT                                  107
CLEAR SELECTION                                  106
                                                ...
CSC                                                1
DOVETAIL RECRUITMENT                               1
FIRST RESOURCING LTD                               1
TEACHLONDON                                        1
PRUDENTIAL                                         1
GB FORCE SERVICES                                  1
ST WILFRIDS PRE SCHOOL                             1
WOODLANDS NEUROLOGICAL REHABILITATION CENTRE       1
THE SOIL ASSOCIATION                               1
POPPY CATERERS LTD                                 1
BOWES FASTRAC                                      1
X CEL SUPERTURN GB LTD                             1
POLYCLEAR                                          1
ADVANSE HAYS                                       1
MENTOR FLT TRAINING LTD                            1
RIG HEALTHCARE                                     1
WYKEHAM PRIMARY SCHOOL                             1
GREENHILL GROUP                                    1
MARATHON IT SERVICES LTD                           1
BIGGSOLUTIONS                                      1
THE CRICKETERS                                     1
FUTURE TV                                          1
THE CONCERTO GROUP                                 1
COMMUNICATE RECRUITMENT SOLUTIONS                  1
TRIPLE S RECRUITMENT LTD                           1
LEVEL                                              1
AVANT HEALTHCARE SERVICES LTD                      1
CONSTRUCTION NEWS FEATURE                          1
FELBRIDGE HOTEL                                    1
MHA                                                1
Name: Company, Length: 8486, dtype: int64

     Part3.b
     Now we look at 'Location'

In [24]:
print (df.Location.value_counts())

UK                      8397
London                  7046
South East London       2961
The City                1184
Central London           889
Manchester               754
Leeds                    733
Surrey                   686
Birmingham               639
Reading                  604
West Midlands            579
Bristol                  471
Berkshire                441
East Sheen               437
Nottingham               409
Oxford                   395
Hampshire                387
Milton Keynes            383
Sheffield                383
Kent                     362
Cambridge                358
Newcastle Upon Tyne      346
Guildford                340
Leicester                311
Hertfordshire            301
Liverpool                286
Essex                    282
Aberdeen                 282
Oxfordshire              275
West Yorkshire           273
                        ...
Twickenham                11
Lewisham                  11
Lutterworth               11
Oldbury                   11
Gatwick                   11
Alcester                  11
Waterlooville             11
Canary Wharf              11
Cwmbran                   11
Potters Bar               11
St. Ives                  11
Broadfield                11
Newport Pagnell           11
Newcastle-under-Lyme      11
Normanton                 11
City                      10
St. Neots                 10
South Brent               10
Thorpe St. Andrew         10
North Finchley             7
london                     2
birmingham                 2
ABERDEEN                   2
HAMpshire                  2
Oxfords                    2
Livepool                   1
BRISTOL                    1
Leads                      1
Cembridge                  1
Manchaster                 1
Name: Location, Length: 489, dtype: int64

In [25]:
# Replace any '-' with one space to keep the consistency
df.Location = df.Location.replace('-', ' ',regex=True)

In [26]:
# We apply the match funtion and set the min_threshold to 0.8 due to the shorter string lenght of the location
match_data_location=match_highfreq_To_lowfreq(df.Location, 0.80, 1)

Number of lowfreq_data 10
Number of highfreq_data 479
Leads : Leeds 0.8
london : London 1.0
Livepool : Liverpool 0.9411764705882353
Oxfords : Oxford 0.9230769230769231
HAMpshire : Hampshire 1.0
Manchaster : Manchester 0.9
Manchaster : Lancaster 0.8421052631578947
birmingham : Birmingham 1.0
ABERDEEN : Aberdeen 1.0
BRISTOL : Bristol 1.0
Cembridge : Cambridge 0.8888888888888888

In [27]:
# After check the result, we decided to replace the lower frequency word with higher one
df.Location=df.Location.replace(match_data_location)

In [28]:
print (df.Location.value_counts())

UK                      8397
London                  7048
South East London       2961
The City                1184
Central London           889
Manchester               754
Leeds                    734
Surrey                   686
Birmingham               641
Reading                  604
West Midlands            579
Bristol                  472
Berkshire                441
East Sheen               437
Nottingham               409
Oxford                   397
Hampshire                389
Sheffield                383
Milton Keynes            383
Kent                     362
Cambridge                359
Newcastle Upon Tyne      346
Guildford                340
Leicester                311
Hertfordshire            301
Liverpool                287
Aberdeen                 284
Essex                    282
Oxfordshire              275
West Yorkshire           273
                        ...
Knaresborough             12
Broadfield                11
Normanton                 11
Dumfries                  11
Sutton In Ashfield        11
Twickenham                11
Lewisham                  11
Newcastle under Lyme      11
Alcester                  11
Wincanton                 11
Boston                    11
Cwmbran                   11
Bourne End                11
Grimsby                   11
Newport Pagnell           11
Canary Wharf              11
Trent                     11
Potters Bar               11
Petersfield               11
Gatwick                   11
St. Ives                  11
Lutterworth               11
Oldbury                   11
Waterlooville             11
Linlithgow                11
Thorpe St. Andrew         10
City                      10
St. Neots                 10
South Brent               10
North Finchley             7
Name: Location, Length: 479, dtype: int64

In [29]:
# 'City' and 'The City' sounds the same, 'City' only appears 10 times so we can replace it with 'The City'
df.loc[df['Location'] == 'City', 'Location'] = 'The City'

In [30]:
print (df.Location.value_counts())

UK                      8397
London                  7048
South East London       2961
The City                1194
Central London           889
Manchester               754
Leeds                    734
Surrey                   686
Birmingham               641
Reading                  604
West Midlands            579
Bristol                  472
Berkshire                441
East Sheen               437
Nottingham               409
Oxford                   397
Hampshire                389
Sheffield                383
Milton Keynes            383
Kent                     362
Cambridge                359
Newcastle Upon Tyne      346
Guildford                340
Leicester                311
Hertfordshire            301
Liverpool                287
Aberdeen                 284
Essex                    282
Oxfordshire              275
West Yorkshire           273
                        ...
Frome                     12
Knaresborough             12
Broadfield                11
Normanton                 11
Dumfries                  11
Sutton In Ashfield        11
Twickenham                11
Lewisham                  11
Newcastle under Lyme      11
Alcester                  11
Wincanton                 11
Boston                    11
Cwmbran                   11
Newport Pagnell           11
Grimsby                   11
St. Ives                  11
Trent                     11
Potters Bar               11
Gatwick                   11
Lutterworth               11
Oldbury                   11
Waterlooville             11
Linlithgow                11
Petersfield               11
Canary Wharf              11
Bourne End                11
South Brent               10
St. Neots                 10
Thorpe St. Andrew         10
North Finchley             7
Name: Location, Length: 478, dtype: int64

    Part3.c
    We then look at column 'Source'

In [31]:
print (df.Source.value_counts())

totaljobs.com                     10102
cv-library.co.uk                   7841
jobsite.co.uk                      3630
cwjobs.co.uk                       3132
staffnurse.com                     2778
caterer.com                        2335
Jobcentre Plus                     2143
careworx.co.uk                     1966
jobserve.com                       1718
jobs.catererandhotelkeeper.com     1250
jobs.guardian.co.uk                1182
MyUkJobs                           1106
fish4.co.uk                        1074
theitjobboard.co.uk                 814
rengineeringjobs.com                717
gojobsearch.co.uk                   683
salestarget.co.uk                   637
planetrecruit.com                   628
GAAPweb                             599
ukstaffsearch.com                   499
technojobs.co.uk                    470
strike-jobs.co.uk                   461
Brand Republic Jobs                 426
justengineers.net                   419
eFinancialCareers                   389
hays.co.uk                          364
britishjobsonthe.net                332
cvbrowser.com                       328
careerbuilder.com                   319
emedcareers.com                     302
                                  ...
mediaweekjobs.co.uk                  51
nurseryworldjobs.co.uk               47
randstadfp.com                       47
JobSearch                            37
emptylemon.co.uk                     37
rcnbulletinjobs.co.uk                36
ncejobs.co.uk                        36
simplymarketingjobs.co.uk            31
jobs.chinwag.com                     30
eventjobsearch.co.uk                 29
juniorbroker.com                     25
jobs.planningresource.co.uk          25
frontofficebanking.com               22
JustLondonJobs                       22
hsjjobs.com                          18
Teaching jobs - TES Connect          16
jobs.perl.org                         9
legalprospects.com                    9
renewablescareers.com                 9
3desk.com                             8
jobsinsocialwork.co.uk                7
TotallyExec                           7
cardandpaymentjobs.com                7
wikijob.co.uk                         6
workthing.com                         5
grb.uk.com                            5
scotsman.com                          4
jobs.gponline.com                     3
thegraduate.co.uk                     1
cvjobstore.com                        1
Name: Source, Length: 106, dtype: int64

In [32]:
# find the Source that not end with .com, .uk, .net and .org
website_df = df[~df["Source"].str.contains('.com$|.uk$|.net$|.org$')]

In [33]:
website_df.Source.value_counts()

Jobcentre Plus                 2143
MyUkJobs                       1106
GAAPweb                         599
Brand Republic Jobs             426
eFinancialCareers               389
PR Week Jobs                    178
Multilingualvacancies           119
Jobs Ac                          97
Jobs24                           86
ijobs                            75
JobSearch                        37
JustLondonJobs                   22
Teaching jobs - TES Connect      16
TotallyExec                       7
Name: Source, dtype: int64

In [34]:
# create two lists so we can replace webname with real website address
list_a=list(website_df.Source.value_counts().keys())

In [35]:
list_b=['gov.uk','myukjobs.co.uk','gaapweb.com','campaignlive.co.uk','efinancialcareers.co.uk','prweekjobs.co.uk',
       'multilingualvacancies.com','jobs.ac.uk','jobs24.co.uk','ijobs.com.uk','jobsearch.co.uk','justlondonjobs.co.uk','tes.com',
        'totallyexec.com']

In [36]:
# replace the website name with real website address
df.Source.replace(list_a, list_b, inplace=True)

In [37]:
# Check it, is there any typo or similar website address?
match_data_source=match_highfreq_To_lowfreq(df.Source, 0.80, 1)

Number of lowfreq_data 6
Number of highfreq_data 100

In [38]:
# take a look again
df.Source.value_counts()

totaljobs.com                     10102
cv-library.co.uk                   7841
jobsite.co.uk                      3630
cwjobs.co.uk                       3132
staffnurse.com                     2778
caterer.com                        2335
gov.uk                             2143
careworx.co.uk                     1966
jobserve.com                       1718
jobs.catererandhotelkeeper.com     1250
jobs.guardian.co.uk                1182
myukjobs.co.uk                     1106
fish4.co.uk                        1074
theitjobboard.co.uk                 814
rengineeringjobs.com                717
gojobsearch.co.uk                   683
salestarget.co.uk                   637
planetrecruit.com                   628
gaapweb.com                         599
ukstaffsearch.com                   499
technojobs.co.uk                    470
strike-jobs.co.uk                   461
campaignlive.co.uk                  426
justengineers.net                   419
efinancialcareers.co.uk             389
hays.co.uk                          364
britishjobsonthe.net                332
cvbrowser.com                       328
careerbuilder.com                   319
emedcareers.com                     302
                                  ...
mediaweekjobs.co.uk                  51
nurseryworldjobs.co.uk               47
randstadfp.com                       47
jobsearch.co.uk                      37
emptylemon.co.uk                     37
ncejobs.co.uk                        36
rcnbulletinjobs.co.uk                36
simplymarketingjobs.co.uk            31
jobs.chinwag.com                     30
eventjobsearch.co.uk                 29
juniorbroker.com                     25
jobs.planningresource.co.uk          25
frontofficebanking.com               22
justlondonjobs.co.uk                 22
hsjjobs.com                          18
tes.com                              16
jobs.perl.org                         9
legalprospects.com                    9
renewablescareers.com                 9
3desk.com                             8
totallyexec.com                       7
jobsinsocialwork.co.uk                7
cardandpaymentjobs.com                7
wikijob.co.uk                         6
workthing.com                         5
grb.uk.com                            5
scotsman.com                          4
jobs.gponline.com                     3
cvjobstore.com                        1
thegraduate.co.uk                     1
Name: Source, Length: 106, dtype: int64

## Part4.  'Id' column and 'Title' column

    Part4.a
    Id column seems easy and it will be the primary key in database

In [39]:
# Change Id type to string
df['Id'] = df['Id'].apply(str)

In [40]:
# Is there any Id in different format?
df[~df["Id"].str.match('^\d{8}$')]

Empty DataFrame
Columns: [Id, Title, Location, Company, ContractType, ContractTime, Category, Salary, OpenDate, CloseDate, Source]
Index: []

In [41]:
# Is the Id unique?
df['Id'].is_unique

True

In [42]:
# Is the Id in increasing order?
df.Id.is_monotonic_increasing

True

In [43]:
# Change back to int, Id all good
df['Id'] = df['Id'].apply(int)

    Part4. b
    Title seems vary hard to deal with, because I lack of the idea and skill to build a methodology for complex nature language processing. The ideal result in this column will be the primary job title without location, salary and useless descriptions. The formation should be consistent, for example, only use &, / and , in proper location.

In [44]:
print (df.Title.value_counts())

Pensions Administrators (Temporary/Contract)                               2
Quality Assurance Environmental Manager Nottingham, East Midlands          2
Senior Financial Advisor                                                   2
Senior SEO Specialist On/Offpage / Google Analytics Harrogate              1
Field Sales  Document Scanning / Bureau  Coventry  ****k OTE               1
Purchaser  Joinery Experience Required                                     1
Lead Nurse (RGN), Diabetes Specialist (Telehealth)  Watford  Watford       1
Diary & Events Coordinator  De Vere Venues Ltd ?? Colmore Gate             1
Social Worker Family Centre                                                1
Business Development : Alternative Investment                              1
Internal Account Manager  ******** Bounds Green                            1
Compensation Specialist                                                    1
Investment Analyst  Fund of Funds Research                                 1
care Manager Qualified Social Worker                                       1
Soldering/Assembling Operative                                             1
Graphic and Web Designer  Maternity Cover                                  1
Stores / Warehouse Manager  Manufacturing  South Yorkshire  Salary ****    1
RGN/RMNS urgently needed in Brierley Hill Perm FT ****ph URGENT            1
Project Conception Engineer                                                1
Application/Integration Developer                                          1
Ruby on Rails Developer, RoR, Linux, PHP, Perl                             1
Adults Social Worker                                                       1
Credit Controller (6 MONTH CONTRACT)                                       1
Inside Sales Executive Medical Publishing                                  1
Finance Manager  Private Equity                                            1
Business & Finance Manager                                                 1
Security penetration tester, Product security expert                       1
Staff Nurse RGN/RMN  Wiltshire  Chippenham                                 1
NET Developer  Prestigious Media Brand  Solihull                           1
Helpdesk 1st line XP/7, Microsoft, ****K                                   1
                                                                          ..
Executive Search Associate                                                 1
Home Care Manager  Torquay                                                 1
ELECTRICAL AND MECHANICAL MAINTENANCE ENGINEERS ****K  ****K               1
Manufacturing Engineer (Digital PreAssembly)                               1
controls validation engineer                                               1
C Net Developers (WPF/WCF/LINQ training)  Milton Keynes                    1
ERP Implementation Consultant with technical skills                        1
Applications Developer Tester (Net / ASP / SQL)                            1
Events Sales Manager  Heathrow                                             1
Revenue and Billing Assistant                                              1
Chef de Partie  Temp/Freelance/Self Employed  London                       1
Kitchen Manager/Cook/Baker                                                 1
Security Operations Specialist (SOC)                                       1
English Teacher Required                                                   1
Medical Sales Representative Urology Delivery Service (South Thames)       1
Commercial Trainee (Accounts)                                              1
Reconciliation Specialist                                                  1
Secondary Teacher in Chelmsford                                            1
Specification Sales Enginner  Northern Home Counties  ****k  Comm          1
Information Architect                                                      1
General Manager Stylish Bar Preston                                        1
Systems Monitor                                                            1
SQL Developer(SQL / SSIS)**** , **** Benefits / Bonus West Sussex          1
Restaurant or Food Service Supervisor  Shepperton                          1
Salesforcecom Business Analyst  London  ****k Bonus                        1
Territory Sales Associate  Germany                                         1
Financial Analyst  Ecommerce Logistics                                     1
eTrading Support Analyst  Credit Derivatives, Front Office                 1
ICT Tutor (**** hours)                                                     1
Digital Account Manager  Programmatic Advertising                          1
Name: Title, Length: 55166, dtype: int64

In [45]:
df.isnull().sum()

Id                 0
Title              0
Location           0
Company            0
ContractType       0
ContractTime       0
Category           0
Salary          1585
OpenDate           0
CloseDate          0
Source             0
dtype: int64

In [46]:
# the following function is the clean and normalize the Title field.
def removeEndSpecialCharTitle(title):
    # normalize to upper case letters
    title = title.upper()
    # replace LIMITED with LTD
    title = title.replace("LIMITED", "LTD")
    # deal with special characters
    title = title.replace("|", ' / ')
    title = re.sub(r'\s*\(.+\)','', title)
    title = title.replace(';|:',' , ')
    title = title.replace('"','')
    # deal with '****K' type of string
    title = re.sub('\*+K?\**[\*|K]$','',title)
    title = title.replace('*','')
    # remove the salary, for example 30,000
    title = re.sub('\d+,\d+','',title)
    # Deal with redundant 'LLOCATION' and 'SALARY'
    title = title.replace('LOCATION', ' ')
    title = title.replace('SALARY',' ')
    # remove all special characters except space, dot, ',' '\' and '+'
    title = re.sub(r'([^\w\s\.\,\/\+])', '', title)
    # replace multiple spaces with a single space, also trim spaces on both side
    title = re.sub( '\s+', ' ', title).strip()
    return title

print (len(set(df.Title)), "different titles in the current data set")
df['Title'] = df.Title.apply(lambda x: removeEndSpecialCharTitle(x))
print (len(set(df.Title)), "different titles after normalization")

55166 different titles in the current data set
53218 different titles after normalization

In [47]:
print (df.Title.value_counts())

PROJECT MANAGER                                                                  55
WEB DEVELOPER                                                                    34
SOFTWARE DEVELOPER                                                               31
MAINTENANCE ENGINEER                                                             26
FIELD SERVICE ENGINEER                                                           24
BUSINESS ANALYST                                                                 24
MECHANICAL DESIGN ENGINEER                                                       21
DESIGN ENGINEER                                                                  20
ACCOUNT MANAGER                                                                  19
SERVICE ENGINEER                                                                 18
BUSINESS DEVELOPMENT MANAGER                                                     17
PROJECT ENGINEER                                                                 16
SOFTWARE ENGINEER                                                                16
PHP DEVELOPER                                                                    15
PROCESS ENGINEER                                                                 14
NET DEVELOPER                                                                    14
SALES MANAGER                                                                    14
DEVELOPER                                                                        12
MANAGEMENT ACCOUNTANT                                                            12
SALES ENGINEER                                                                   11
FIELD SALES EXECUTIVE                                                            11
EMBEDDED SOFTWARE ENGINEER                                                       11
MEDICAL FIELD SERVICE ENGINEER                                                   10
ENGINEERING MANAGER                                                              10
JAVA DEVELOPER                                                                   10
ACCOUNTS ASSISTANT                                                               10
SENIOR SOFTWARE ENGINEER                                                          9
SUPPORT WORKER                                                                    9
C NET DEVELOPER                                                                   9
AREA SALES MANAGER                                                                9
                                                                                 ..
GLOBAL/ INTERNATIONAL PAYROLL SPECIALIST                                          1
SCRUB NURSES JOBS IN BIRMINGHAM BIRMINGHAM                                        1
NAV ANALYST DEVELOPER, K, NORTHAMPTONSHIRE, PEBBLESTONE                           1
RGN DAYS, NORTHWICH P/H                                                           1
POLICY WRITER BIRMINGHAM                                                          1
COMPLIANCE MANAGER ANY SECTOR BACKGROUND                                          1
MANUFACTURING PROCESS DEVELOPMENT ENGINEER                                        1
HOME MANAGER HUNTINGDON                                                           1
DIALYSIS NURSE                                                                    1
PRIMARY TEACHING IN CALDERDALE KIRKLEES                                           1
TESTER /ARCHITECT MILTON KEYNES NEW                                               1
SENIOR RESOURCE PLANNER                                                           1
SALES AGENT NORTHAMPTON DOOR TO DOOR                                              1
SALES / MARKETING ADVISORS WITH NO EXPERIENCE IN NEWCASTLE                        1
ERM CREDIT ANALYST                                                                1
SENIOR ADMINISTRATOR PAYROLL                                                      1
HIGH FREQUENCY C++ DEVELOPER MULTIASSET TRADING FIRM UP TO                        1
RESTAURANT BAR MANAGERKKSTUNNING HOTELWALES                                       1
PROCESS ENGINEER SOUTH WALES CASTING                                              1
NURSE RGNS WEST SUSSEX                                                            1
DEPUTY CARE HOME MANAGER STOCKTON                                                 1
LEARNING MENTOR YEAR                                                              1
CNET DEVELOPER SHEFFIELD P/D                                                      1
NET DEVELOPER PERMANENT LONDON                                                    1
PROJECT MANAGER, INFRASTRUCTURE, DATA CENTRES                                     1
ALLIED HEALTH CARE PROFESSIONAL ANAESTHETIC AND SCRUB PRACTITIONER HBPRACLINC     1
ASSISTANT ACCOUNTANT JOB BRISTOL                                                  1
PROJECT MANAGER MEDICAL DEVICES                                                   1
ROOM LEADER UNDER S                                                               1
                                                                                  1
Name: Title, Length: 53218, dtype: int64

In [48]:
# Apply the match data function and return the dict for high and low frequency data
match_data_title=match_highfreq_To_lowfreq(df.Title, 0.95, 1)

Number of lowfreq_data 53149
Number of highfreq_data 69
ACCOUNT MANGER : ACCOUNT MANAGER 0.9655172413793104
SUPPORT WORKERS : SUPPORT WORKER 0.9655172413793104
C SENIOR SOFTWARE ENGINEER : SENIOR SOFTWARE ENGINEER 0.96
MECHANICAL DESIGN ENGEER : MECHANICAL DESIGN ENGINEER 0.96
WEB DEVELOPERS : WEB DEVELOPER 0.9629629629629629
SENIOR SOFTWARE ENGINEER X : SENIOR SOFTWARE ENGINEER 0.96
ACCOUNTS MANAGER : ACCOUNT MANAGER 0.967741935483871
ACCOUT MANAGER : ACCOUNT MANAGER 0.9655172413793104
MECHANCICAL DESIGN ENGINEER : MECHANICAL DESIGN ENGINEER 0.9811320754716981
SALES EXECUTIVES : SALES EXECUTIVE 0.967741935483871
BUSINESS DEVELOPMENT MANGER : BUSINESS DEVELOPMENT MANAGER 0.9818181818181818
PROJECT ENGINEERS : PROJECT ENGINEER 0.9696969696969697
FIELD SALES EXECUTIVES : FIELD SALES EXECUTIVE 0.9767441860465116
MECHANICAL FITTERS : MECHANICAL FITTER 0.9714285714285714
FIELD SERVICE ENGINEERS : FIELD SERVICE ENGINEER 0.9777777777777777
CNET DEVELOPER : C NET DEVELOPER 0.9655172413793104
CNET DEVELOPER : NET DEVELOPER 0.9629629629629629
BUSINESS DEVELOPENT MANAGER : BUSINESS DEVELOPMENT MANAGER 0.9818181818181818
TEACHING ASSISTANTS : TEACHING ASSISTANT 0.972972972972973
MANAGEMENT ACCOUNTANTS : MANAGEMENT ACCOUNTANT 0.9767441860465116
MANAGEMENT ACCOUNATNT : MANAGEMENT ACCOUNTANT 0.9523809523809523
PROJECT MANAGAER : PROJECT MANAGER 0.967741935483871
DESIGN ENGINEERS : DESIGN ENGINEER 0.967741935483871
WEB DEVLELOPER : WEB DEVELOPER 0.9629629629629629
FIELD SERVICE ENGINEER X : FIELD SERVICE ENGINEER 0.9565217391304348
BUSINESS DEVELOMENT MANAGER : BUSINESS DEVELOPMENT MANAGER 0.9818181818181818
SYSTEM ENGINEER : SYSTEMS ENGINEER 0.967741935483871
C NET DEVELOPERS : C NET DEVELOPER 0.967741935483871
MAUNFACTURING ENGINEER : MANUFACTURING ENGINEER 0.9545454545454546
QUALITY ENGINEERS : QUALITY ENGINEER 0.9696969696969697
MANAGEMENT ACCOUNANT : MANAGEMENT ACCOUNTANT 0.975609756097561
BUSINESS ANALYSTS : BUSINESS ANALYST 0.9696969696969697
MECHANICAL DESIGN ENGINEER X : MECHANICAL DESIGN ENGINEER 0.9629629629629629
REGISITERED NURSE : REGISTERED NURSE 0.9696969696969697
MANUFACTURING ENGINEER X : MANUFACTURING ENGINEER 0.9565217391304348
ACCOUNTS ASSSISTANT : ACCOUNTS ASSISTANT 0.972972972972973
FINACIAL ACCCOUNTANT : FINANCIAL ACCOUNTANT 0.95
SOFTWARE ENGINEERS : SOFTWARE ENGINEER 0.9714285714285714
SENIOR DEVELOPERS : SENIOR DEVELOPER 0.9696969696969697
PROGRAMMES MANAGER : PROGRAMME MANAGER 0.9714285714285714
FIELD SALES EXCECUTIVE : FIELD SALES EXECUTIVE 0.9767441860465116
PROJECTS ENGINEER : PROJECT ENGINEER 0.9696969696969697
AREA SALES MNAGER : AREA SALES MANAGER 0.9714285714285714
SENIOR C WEB DEVELOPER : SENIOR WEB DEVELOPER 0.9523809523809523
ELECTRICAL MAINTENANCE ENGINEERS : ELECTRICAL MAINTENANCE ENGINEER 0.9841269841269841
MANAGEMENT ACCOUNTANT X : MANAGEMENT ACCOUNTANT 0.9545454545454546
SOFTWARE DEVELOPERS : SOFTWARE DEVELOPER 0.972972972972973
BUISNESS DEVELOPMENT MANAGER : BUSINESS DEVELOPMENT MANAGER 0.9642857142857143
EMBEDDED SOFTWARE ENGINEERS : EMBEDDED SOFTWARE ENGINEER 0.9811320754716981
MECHANCIAL DESIGN ENGINEER : MECHANICAL DESIGN ENGINEER 0.9615384615384616
WE DEVELOPER : WEB DEVELOPER 0.96
BUSINESS DEVELOPEMENT MANAGER : BUSINESS DEVELOPMENT MANAGER 0.9824561403508771
MARKETING EXECUTIVE W : MARKETING EXECUTIVE 0.95
FINACIAL ACCOUNTANT : FINANCIAL ACCOUNTANT 0.9743589743589743
PROJECT MANAGERS : PROJECT MANAGER 0.967741935483871
BUSINESS DEVELOPMENT MANAGER X : BUSINESS DEVELOPMENT MANAGER 0.9655172413793104
TEST ANALYSTS : TEST ANALYST 0.96
FINANCE MANAGERS : FINANCE MANAGER 0.967741935483871
ELECETRICAL MAINTENANCE ENGINEER : ELECTRICAL MAINTENANCE ENGINEER 0.9841269841269841
MEDICAL FIELD SERVICE ENGINEER X : MEDICAL FIELD SERVICE ENGINEER 0.967741935483871
ELECTRONIC DESIGN ENGINEER : ELECTRONICS DESIGN ENGINEER 0.9811320754716981
PHP DEVELOPERS : PHP DEVELOPER 0.9629629629629629
REGISTERED NURSES : REGISTERED NURSE 0.9696969696969697
ELECTRICAL MAINTENANCE ENGUNEER : ELECTRICAL MAINTENANCE ENGINEER 0.967741935483871
PHP DEVELOPE : PHP DEVELOPER 0.96
PROCESS ENGINEERS : PROCESS ENGINEER 0.9696969696969697
PROJECTS MANAGER : PROJECT MANAGER 0.967741935483871
SALES CONSULTANTS : SALES CONSULTANT 0.9696969696969697
SENIOR WEB DEVELOPER X : SENIOR WEB DEVELOPER 0.9523809523809523
ELECTRONICS DESIGN ENGINEERS : ELECTRONICS DESIGN ENGINEER 0.9818181818181818
JAVA DEVELOPERS : JAVA DEVELOPER 0.9655172413793104
FINANCE MANGER : FINANCE MANAGER 0.9655172413793104
EMBEDDED SOFTWARE ENGINEEER : EMBEDDED SOFTWARE ENGINEER 0.9811320754716981
IT PROJECT MANAGERS : IT PROJECT MANAGER 0.972972972972973
ELECTRICAL ENGINEERS : ELECTRICAL ENGINEER 0.9743589743589743

In [49]:
# replace the low frequency job title with high one
df.Title=df.Title.replace(match_data_title)

df.isnull().sum()

Id                 0
Title              0
Location           0
Company            0
ContractType       0
ContractTime       0
Category           0
Salary          1585
OpenDate           0
CloseDate          0
Source             0
dtype: int64

In [50]:
# This is the only Title that with '****', we need to replace it with 'NON-SPECIFIED'
df.loc[df.Id==50870368,'Title'] = 'NON-SPECIFIED'

In [51]:
print (df.Title.value_counts())

PROJECT MANAGER                                                                  60
WEB DEVELOPER                                                                    37
SOFTWARE DEVELOPER                                                               35
FIELD SERVICE ENGINEER                                                           29
MAINTENANCE ENGINEER                                                             26
BUSINESS ANALYST                                                                 26
BUSINESS DEVELOPMENT MANAGER                                                     25
MECHANICAL DESIGN ENGINEER                                                       25
ACCOUNT MANAGER                                                                  23
DESIGN ENGINEER                                                                  21
SERVICE ENGINEER                                                                 18
SOFTWARE ENGINEER                                                                18
PROJECT ENGINEER                                                                 18
PHP DEVELOPER                                                                    17
MANAGEMENT ACCOUNTANT                                                            16
NET DEVELOPER                                                                    15
PROCESS ENGINEER                                                                 15
SALES MANAGER                                                                    14
REGISTERED NURSE                                                                 14
FIELD SALES EXECUTIVE                                                            13
EMBEDDED SOFTWARE ENGINEER                                                       13
DEVELOPER                                                                        12
SUPPORT WORKER                                                                   12
MEDICAL FIELD SERVICE ENGINEER                                                   12
ACCOUNTS ASSISTANT                                                               11
SENIOR SOFTWARE ENGINEER                                                         11
JAVA DEVELOPER                                                                   11
SALES ENGINEER                                                                   11
SENIOR DEVELOPER                                                                 10
TEACHING ASSISTANT                                                               10
                                                                                 ..
SUPPLY TEACHER BUCKINGHAMSHIRE                                                    1
UP TO LEISURE BUSINESS ASSISTANT CENTRE MANAGER                                   1
GLOBAL/ INTERNATIONAL PAYROLL SPECIALIST                                          1
SCRUB NURSES JOBS IN BIRMINGHAM BIRMINGHAM                                        1
MANUFACTURING PROCESS DEVELOPMENT ENGINEER                                        1
HOME MANAGER HUNTINGDON                                                           1
ROOM LEADER UNDER S                                                               1
PROJECT MANAGER MEDICAL DEVICES                                                   1
FMCG PRODUCT MANAGER                                                              1
DIALYSIS NURSE                                                                    1
PRIMARY TEACHING IN CALDERDALE KIRKLEES                                           1
CORPORATE ACTIONS ADMINISTRATOR                                                   1
TESTER /ARCHITECT MILTON KEYNES NEW                                               1
SENIOR RESOURCE PLANNER                                                           1
SALES AGENT NORTHAMPTON DOOR TO DOOR                                              1
SALES / MARKETING ADVISORS WITH NO EXPERIENCE IN NEWCASTLE                        1
ERM CREDIT ANALYST                                                                1
SENIOR ADMINISTRATOR PAYROLL                                                      1
HIGH FREQUENCY C++ DEVELOPER MULTIASSET TRADING FIRM UP TO                        1
RESTAURANT BAR MANAGERKKSTUNNING HOTELWALES                                       1
PROCESS ENGINEER SOUTH WALES CASTING                                              1
NURSE RGNS WEST SUSSEX                                                            1
DEPUTY CARE HOME MANAGER STOCKTON                                                 1
LEARNING MENTOR YEAR                                                              1
CNET DEVELOPER SHEFFIELD P/D                                                      1
NET DEVELOPER PERMANENT LONDON                                                    1
PROJECT MANAGER, INFRASTRUCTURE, DATA CENTRES                                     1
ALLIED HEALTH CARE PROFESSIONAL ANAESTHETIC AND SCRUB PRACTITIONER HBPRACLINC     1
ASSISTANT ACCOUNTANT JOB BRISTOL                                                  1
YEAR / CLASSROOM TEACHER                                                          1
Name: Title, Length: 53144, dtype: int64

## Part5. Salary normalisation and imputation

Frist we focus on the normalisation part

In [52]:
df.Salary.value_counts()

35000         1865
30000         1827
40000         1694
32500         1461
45000         1437
37500         1361
25000         1297
50000         1218
27500         1143
42500         1067
55000          924
20000          853
24000          847
22500          804
0              773
47500          753
60000          734
18000          626
52500          582
26000          574
19000          566
22000          564
21000          553
29000          553
28000          541
23000          502
27000          490
26500          427
21500          427
17000          426
              ...
25386            1
45024            1
25555            1
19000 pa         1
33500 pa         1
22192            1
39952            1
29307            1
77001            1
85800            1
44296.0          1
37680            1
23744            1
49125            1
50462            1
35942            1
22924            1
47300            1
20175            1
39811            1
33151            1
22867            1
21568            1
40812            1
38544            1
28143            1
18877            1
51500.0          1
35000/Year       1
34355            1
Name: Salary, Length: 3757, dtype: int64

After invesgation, we found this column has several issues:
- vaild salary number or float number -> can be convert to float dirctly
- Nan, 0 or other characters that do not represent a vaild salary -> need to do the imputation
- vaild salary with extra characters, include 'per year','annum','p/h','pa' and so on -> need to remove those characters then convert the number in annual salary
- vaild salary in range and split by '-' and 'to'-> need to take the number in order to calculate the average salary
- not vaild salary with 'k' in the end -> need to cut 'k' then times 1000 to get the annual salary
- other suspicious numbers, for example a four digits number may repersent the monthly wage, need to be considered further
- extremely high Salary (greater than 10000) -> need to check the row to decide whether they are legit or not

I do not include the process of detecting these issues to keep the code tidy.

In [53]:
# replace NaN with '0'
df.Salary.fillna('0', inplace = True)
# replace '-' with '0'
df.Salary.replace('-','0',inplace= True)
# set all the words to lowercase
df.Salary=df.Salary.str.lower()

# define a functin to check the pattern of Salary number column
# We know if a salary number is  5 digits or float number with 5 digits before the ., it is probably valid 
def check_salary(value, pattern=re.compile('^\d{5}$|^\d{5}\.\d$')):
    return 'OK' if pattern.match(value) else 'Failed'

# Checking the salary column and create a new columne named 'test_salary' 
df['test_salary'] = df['Salary'].apply(check_salary)
print(len(df[df['test_salary']!='OK']))
df[df['test_salary']!='OK']# return nothing only when all rows are consistent with the pattern observed

3527

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,test_salary
17,25337172,PASTRY CHEF FOR RED STAR ROSETTE HOTEL,North East England,CLEAR SELECTION,non-specified,non-specified,Hospitality & Catering Jobs,0,20121214T120000,20121228T120000,caterer.com,Failed
21,25892031,MICE SALES AND MARKETING MANAGER,Buckinghamshire,CHESS PARTNERSHIP,non-specified,non-specified,Hospitality & Catering Jobs,0,20130603T000000,20130703T000000,caterer.com,Failed
28,27754996,QA ENGINEER,Cambridge,INDIGO 21 LTD,non-specified,permanent,IT Jobs,0,20130810T150000,20131108T150000,cv-library.co.uk,Failed
53,34558721,CHEF DE PARTIE BURTON ON TRENT UP TO,Staffordshire,CLEAR SELECTION,non-specified,non-specified,Hospitality & Catering Jobs,0,20131229T150000,20140112T150000,caterer.com,Failed
71,38909389,CHEF DE PARTIE FINE DINING RESTAURANT STUNNING...,Derbyshire,CHEF RESULTS,non-specified,non-specified,Hospitality & Catering Jobs,0,20120522T000000,20120721T000000,caterer.com,Failed
100,46126154,NEWLY QUALIFIED ROTATION SCHEME,London,CARNEGIE CONSULTING,non-specified,non-specified,Accounting & Finance Jobs,0,20120724T150000,20120807T150000,efinancialcareers.co.uk,Failed
120,46626571,RGN REGISTERED NURSE JOB DURHAM,UK,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20131025T000000,20131224T000000,careworx.co.uk,Failed
156,46627119,QUALIFIED SOCIAL WORKER JOB LONDON,North London,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20120420T120000,20120719T120000,careworx.co.uk,Failed
184,46627361,PAEDIATRIC STAFF NURSE JOB LONDON,London,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20130606T000000,20130706T000000,careworx.co.uk,Failed
234,46627890,HEALTH CARE ASSISTANT JOB SURREY,Surrey,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20130105T120000,20130204T120000,careworx.co.uk,Failed
235,46627892,NURSE JOBS SURREY,Surrey,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20120831T120000,20120930T120000,careworx.co.uk,Failed
278,46628215,PSYCHOLOGICAL WELLBEING PRACTITIONER KENT,Maidstone,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20120811T120000,20120825T120000,careworx.co.uk,Failed
317,46628905,PAEDS SUPPORT WORKERS,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20130315T120000,20130514T120000,careworx.co.uk,Failed
334,46629102,SUPPORT WORKERS BEDFORDSHIRE,Bedfordshire,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20130804T150000,20131003T150000,careworx.co.uk,Failed
354,46629629,BANK SUPPORT WORKER JOB CLACTON,Clacton On Sea,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20121018T000000,20121117T000000,careworx.co.uk,Failed
361,46629759,CARE WORKER JOB RUISLIP,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20130125T150000,20130224T150000,careworx.co.uk,Failed
364,46629827,ADULT SUPPORT WORKER JOB TUNBRIDGE WELLS,Tunbridge Wells,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20120219T000000,20120419T000000,careworx.co.uk,Failed
371,46630186,CARE WORKER JOB TUNBRIDGE WELLS,Tunbridge Wells,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20120801T000000,20120831T000000,careworx.co.uk,Failed
395,46631100,RGN DEPUTY HOME MANAGER NEWCASTLE,Newcastle Upon Tyne,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20131020T000000,20131119T000000,careworx.co.uk,Failed
403,46631334,REGISTERED MANAGER JOB BARNSLEY,Barnsley,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20130118T150000,20130418T150000,careworx.co.uk,Failed
418,46631494,UNIT MANAGER STAFFORDSHIRE,Staffordshire,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,30250/year,20130717T150000,20130915T150000,careworx.co.uk,Failed
427,46631712,UNIT MANAGER JOB BIRMINGHAM ELDERLY NURSING,Birmingham,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20120202T000000,20120502T000000,careworx.co.uk,Failed
444,46632077,HOME CARE WORKER / SUPPORT WORKER BOWDON,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20130112T000000,20130211T000000,careworx.co.uk,Failed
456,46632299,SEXUAL HEALTH CLINIC NURSE JOB ESSEX,Essex,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,31500 per annum,20121118T120000,20130216T120000,careworx.co.uk,Failed
479,46632832,SEXUAL HEALTH CLINIC NURSE JOB LONDON,London,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,0,20130216T120000,20130318T120000,careworx.co.uk,Failed
523,46633542,WEEKEND CARE WORKERS,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,0,20120915T120000,20121114T120000,careworx.co.uk,Failed
538,46633669,QUALIFIED CHILDREN SOCIAL WORKER CORNWALL,Cornwall,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20121204T150000,20121218T150000,careworx.co.uk,Failed
614,46634425,CHARGE NURSE RMN/RNLD KENT,Kent,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,30500 - 35500,20131106T150000,20131206T150000,careworx.co.uk,Failed
616,46634507,REGIONAL GENERAL MANAGER NURSING HOMES,North West England,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20131125T000000,20131225T000000,careworx.co.uk,Failed
650,46634927,RGN NIGHT NURSE DEWSBURY P/H,Dewsbury,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,26500/year,20120920T000000,20121119T000000,careworx.co.uk,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
54752,72683727,PAEDIATRIC SUPPORT WORKER LOUGHBOROUGH,Loughborough,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20130514T150000,20130613T150000,careworx.co.uk,Failed
54755,72683775,CLINICAL LEAD NURSING HOME RGN / RMN,Warwickshire,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,0,20130423T120000,20130507T120000,careworx.co.uk,Failed
54768,72684242,LOVE RETAIL ACCOUNT MANAGER FOR FAB INTEGRATED...,South East London,GABRIELE SKELTON,full-time,permanent,"PR, Advertising & Marketing Jobs",0,20120812T120000,20121011T120000,campaignlive.co.uk,Failed
54776,72684434,SENIOR PPC EXECUTIVE,Central London,NORTON LEIGH,full-time,permanent,"PR, Advertising & Marketing Jobs",0,20120211T120000,20120411T120000,campaignlive.co.uk,Failed
54794,72688489,"IT DEVELOPMENT MANAGER LONDON , BONUS",London,ASHDOWN GROUP,non-specified,permanent,IT Jobs,0,20120107T120000,20120307T120000,jobsite.co.uk,Failed
54809,72688637,PRINCIPAL TEST MANAGER,Oxford,SANDERSON RECRUITMENT,non-specified,permanent,IT Jobs,0,20120126T150000,20120326T150000,jobsite.co.uk,Failed
54834,72688963,SMARTCARD CONSULTANTS,UK,VB RECRUITMENT SOLUTIONS LTD,non-specified,permanent,IT Jobs,0,20121223T150000,20130323T150000,jobsite.co.uk,Failed
54869,72689404,UAT TEST TEAM LEAD,Surrey,DAMIA GROUP PLC,non-specified,permanent,IT Jobs,40500/year,20121116T120000,20121216T120000,jobsite.co.uk,Failed
54878,72689534,DYNAMICS NAV SUPPORT DEVELOPER K HERTS GET CER...,Hertfordshire,NIGEL FRANK INTERNATIONAL LTD,non-specified,permanent,IT Jobs,0,20120409T120000,20120608T120000,jobsite.co.uk,Failed
54909,72689795,MULTIPLE TEST ANALYST ROLES CENTRAL MANCHESTER,Manchester,LORIEN RESOURCING LTD,non-specified,permanent,IT Jobs,0,20120506T120000,20120804T120000,jobsite.co.uk,Failed
54936,72690064,"YEAR 5 TEACHER, SOUTH WEST LONDON",South West London,HAYS EDUCATION,non-specified,contract,Teaching Jobs,0,20131117T120000,20140116T120000,jobsite.co.uk,Failed
54947,72690255,BUSINESS APPLICATION DEVELOPER SQL / CRYSTAL R...,Reading,BURNS SHEEHAN LTD,non-specified,permanent,IT Jobs,32500 per annum,20121103T150000,20130201T150000,jobsite.co.uk,Failed
54950,72690272,INTERMEDIATE DESIGN ENGINEER,London,PANACEA SELECTION LTD,non-specified,permanent,Engineering Jobs,30000/year,20131207T000000,20140106T000000,jobsite.co.uk,Failed
54959,72690386,EQUITIES CLIENT DATA SUPPORT ANALYST,London,PIONEER SEARCH LTD,non-specified,permanent,IT Jobs,0,20121020T150000,20121219T150000,jobsite.co.uk,Failed
54961,72690448,LOCAL SERVICE DELIVERY MANAGER,Wiltshire,JOBS AT CAPITA,non-specified,permanent,IT Jobs,0,20120928T120000,20121227T120000,jobsite.co.uk,Failed
54967,72690549,TEST ANALYSTLINUX,UK,INTEGRITY IT SOLUTIONS LTD,non-specified,permanent,IT Jobs,29500 - 30500,20130521T150000,20130620T150000,jobsite.co.uk,Failed
55016,72691356,GRADUATE TECHNICAL SUPPORT ANALYST,Bracknell,CANDIDATE SOURCE LTD,non-specified,permanent,IT Jobs,0,20120622T000000,20120821T000000,jobsite.co.uk,Failed
55049,72692481,LOCUM WOMENS HEALTH PHYSIOTHERAPIST OXFORDSHIRE,UK,JOBSITE JOBS,non-specified,contract,Healthcare & Nursing Jobs,5880,20130624T120000,20130823T120000,jobsite.co.uk,Failed
55050,72692550,LOCUM MEDICAL REHAB PHYSIOTHERAPIST CAMBRIDGES...,UK,JOBSITE JOBS,non-specified,contract,Healthcare & Nursing Jobs,0,20120106T150000,20120306T150000,jobsite.co.uk,Failed
55056,72693898,"LOCUM RGNS WANTED, BEDFORDSHIRE, DAYS, NIGHTS ...",South East England,MERCO,non-specified,non-specified,Healthcare & Nursing Jobs,0,20120310T000000,20120509T000000,contractjobs.com,Failed
55058,72694003,LOCUM MUSCULOSKELETAL O/P PHYSIOTHERAPIST BERK...,South East England,THE PLACEMENT GROUP,non-specified,non-specified,Healthcare & Nursing Jobs,6120.0,20120207T000000,20120407T000000,contractjobs.com,Failed
55067,72694140,CHASSIS DESIGN ENGINEER,Warwickshire,HUXLEY ASSOCIATES,non-specified,non-specified,Engineering Jobs,34000/year,20131016T000000,20131215T000000,gojobsearch.co.uk,Failed
55083,72694341,JUNIOR SQL / DATA ANALYST,Leeds,COMPUTER FUTURES,non-specified,non-specified,IT Jobs,0,20130104T000000,20130118T000000,gojobsearch.co.uk,Failed
55113,72695916,FIELD SERVICE ENGINEER IT / ELECTRONICS,London,MATCHTECH GROUP PLC,non-specified,permanent,Engineering Jobs,0,20130723T000000,20131021T000000,jobsite.co.uk,Failed
55137,72697286,TRAINING DELIVERY INSTRUCTOR,UK,MINSTRELL RECRUITMENT LTD,non-specified,permanent,Engineering Jobs,0,20120202T000000,20120303T000000,justengineers.net,Failed
55139,72697334,EXPERIENCED TREE SURGEON,Poole,R S S LTD,non-specified,permanent,Engineering Jobs,0,20120726T000000,20120924T000000,justengineers.net,Failed
55143,72702355,SENIOR OPERATIONS MANAGER PPI,Middlesbrough,NON-SPECIFIED,non-specified,contract,Accounting & Finance Jobs,0,20120510T150000,20120709T150000,hays.co.uk,Failed
55147,72702793,MEDICAL AFFAIRS CLINICAL RESEARCH PHYSICIAN JO...,UK,FLAME PHARMA,non-specified,permanent,Healthcare & Nursing Jobs,0,20121030T150000,20130128T150000,emedcareers.com,Failed
55160,72702956,PHARMACEUTICAL ANALYTICAL CHEMIST JOBS IN NORT...,Northern Ireland,FLAME PHARMA,non-specified,permanent,Healthcare & Nursing Jobs,0,20121130T150000,20121230T150000,emedcareers.com,Failed
55163,72705197,CURRICULUM LEADER MATHEMATICS,Wrexham,NON-SPECIFIED,non-specified,permanent,Teaching Jobs,5006,20130514T120000,20130713T120000,hays.co.uk,Failed

Inside 3527 rows, we can deal with '0' later by imputation. Right now we need to pick those non-zero rows to work with

In [54]:
# We have 796 raws to work with. We need to figure it out the different types of problem
df[(df['Salary']!='0') & (df['test_salary']!='OK')]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,test_salary
418,46631494,UNIT MANAGER STAFFORDSHIRE,Staffordshire,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,30250/year,20130717T150000,20130915T150000,careworx.co.uk,Failed
456,46632299,SEXUAL HEALTH CLINIC NURSE JOB ESSEX,Essex,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,31500 per annum,20121118T120000,20130216T120000,careworx.co.uk,Failed
614,46634425,CHARGE NURSE RMN/RNLD KENT,Kent,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,30500 - 35500,20131106T150000,20131206T150000,careworx.co.uk,Failed
650,46634927,RGN NIGHT NURSE DEWSBURY P/H,Dewsbury,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,26500/year,20120920T000000,20121119T000000,careworx.co.uk,Failed
713,46635738,SENIOR STAFF NURSE ITU,The City,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,33000/year,20130326T000000,20130425T000000,careworx.co.uk,Failed
727,46635911,RGN STAFF NURSES FOR NURSING HOME SOUTHALL,UK,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,23952/year,20121002T120000,20121201T120000,careworx.co.uk,Failed
852,46852076,RMN/RGN NURSE STOKE,UK,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,26131 to 28131,20120715T000000,20120913T000000,careworx.co.uk,Failed
909,48271564,RMN,Oxford,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,24646/year,20130822T000000,20131021T000000,careworx.co.uk,Failed
1101,51593378,HOME CARE WORKERS WATFORD,Watford,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,8160,20120112T120000,20120211T120000,careworx.co.uk,Failed
1131,52269379,MULTI SITE PRACTICE MANAGER BERKSHIRE/LONDON,London,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,31000/year,20121016T120000,20121030T120000,careworx.co.uk,Failed
1174,53007666,STAFF NURSE CARDIFF NURSING HOME,Cardiff,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,23950/year,20120316T000000,20120330T000000,careworx.co.uk,Failed
1176,53007690,"STAFF NURSE, ELDERLY CARE NURSING HOME DERBY",Derby,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,23400 per annum,20130826T120000,20131025T120000,careworx.co.uk,Failed
1177,53007691,PAEDIATRIC HOME IV NURSE,London,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,27750 to 28250,20131117T000000,20140116T000000,careworx.co.uk,Failed
1179,53030219,PASTRY CHEF COUNTRY HOUSE HOTEL AWARD WINNING ...,Northamptonshire,CHEF RESULTS,non-specified,non-specified,Hospitality & Catering Jobs,25000 per annum,20120920T150000,20121004T150000,caterer.com,Failed
1210,53652065,PART TIME WEEKEND CARERS POSITIONS AVAILABLE P...,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,7680,20131029T120000,20131112T120000,careworx.co.uk,Failed
1286,55278077,NURSING HOME MANAGER LETCHWORTH,Letchworth Garden City,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,33000 to 38000,20120925T000000,20121124T000000,careworx.co.uk,Failed
1506,55720819,SURGICAL WARD MANAGER,Nottingham,NON-SPECIFIED,full-time,non-specified,Healthcare & Nursing Jobs,32000 per annum,20130713T000000,20131011T000000,careworx.co.uk,Failed
1566,56281662,FINANCIAL ADVISER/CONSULTANT/PLANNER,Cambridgeshire,EXCEL TECHNICAL RESOURCING SOLUTIONS LTD,full-time,permanent,Accounting & Finance Jobs,40k,20130722T000000,20130821T000000,jobsfinancial.com,Failed
1674,57111514,CLINIC NURSE SEXUAL HEALTH,Newcastle Upon Tyne,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,28969 - 30969,20120325T120000,20120408T120000,careworx.co.uk,Failed
1749,57752163,PR NEW TEST,Cambridgeshire,OCC COMPUTER PERSONNEL LTD,full-time,permanent,IT Jobs,7200,20130502T000000,20130731T000000,planetrecruit.com,Failed
1763,58103112,"DEPUTY MANAGER NURSING HOME, WEST LOTHIAN",West Lothian,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,29500 to 30500,20121103T150000,20121117T150000,careworx.co.uk,Failed
1838,58728207,HOME MANAGER DEMENTIA NURSING,Cheltenham,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,35000 pa,20130708T150000,20130807T150000,careworx.co.uk,Failed
1908,59134919,SYSTEMC / C++ SOFTWARE VERIFICATION OF SOCS,South West London,IC SOFTWARE,full-time,permanent,IT Jobs,45000 pa,20131016T000000,20131215T000000,planetrecruit.com,Failed
1951,59788339,"FIELD CARE SUPERVISOR, WINCHESTER",Winchester,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,7680,20121120T150000,20121204T150000,careworx.co.uk,Failed
2037,60422324,MULTISKILLED MAINTENANCE ENGINEER,Northamptonshire,SUPPORT SERVICES GROUP,full-time,permanent,Engineering Jobs,30000/year,20120505T150000,20120803T150000,thecareerengineer.com,Failed
2074,60682667,PROGRESS DEVELOPER,Northamptonshire,OCC COMPUTER PERSONNEL LTD,full-time,permanent,IT Jobs,29000 to 31000,20130904T000000,20131203T000000,planetrecruit.com,Failed
2185,61822755,SHAREPOINT SOLUTION ANALYST / DEVELOPER,Edinburgh Technopole,365 LTD,non-specified,permanent,IT Jobs,120000,20130505T150000,20130803T150000,cwjobs.co.uk,Failed
2188,61826849,SENIOR PASTRY CHEF DE PARTIE MULTIOUTLET HOTEL...,West Yorkshire,CHEF RESULTS,non-specified,non-specified,Hospitality & Catering Jobs,20500 pa,20120704T150000,20120803T150000,caterer.com,Failed
2214,61936515,ODP ANAESTHETICS,Reading,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,27500 - 32500,20131027T000000,20131110T000000,careworx.co.uk,Failed
2255,62004217,TELESALES APPRENTICE,Doncaster,OPTIMAS TRAINING,non-specified,non-specified,IT Jobs,5184,20120104T150000,20120118T150000,myukjobs.co.uk,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
53247,72457901,BUSINESS DEVELOPMENT EXECUTIVE FIELD SALES DAR...,Dartford,DAVID MILES ASSOCIATES,non-specified,permanent,Sales Jobs,20000/year,20130727T150000,20130826T150000,totaljobs.com,Failed
53367,72478040,BAND 6 ELDELRY CARE,Dorchester,THE PLACEMENT GROUP,non-specified,contract,Healthcare & Nursing Jobs,6760,20120413T120000,20120612T120000,careerbuilder.com,Failed
53369,72478300,FLEXIBLE DOMESTIC ASSISTANT,Bournemouth,PENDERELS TRUST,full-time,non-specified,Healthcare & Nursing Jobs,8000,20130310T000000,20130608T000000,careerbuilder.com,Failed
53403,72479630,NETWORK SECURITY SPECAILIST,London,ADVENTO STAFFING LTD,non-specified,permanent,IT Jobs,50k,20120917T120000,20121017T120000,jobsite.co.uk,Failed
53520,72482086,EARLY YEARS EDUCATOR LEVEL 2 TERM TIME ONLY,UK,4CHILDREN,non-specified,permanent,Teaching Jobs,8590,20120215T000000,20120316T000000,jobsite.co.uk,Failed
53521,72482090,"TEST MANAGER, APPLICATION VIRTUALISATION WINDO...",Chester,HBHC SYNERGY LTD,non-specified,contract,IT Jobs,7920,20131024T120000,20131107T120000,jobsite.co.uk,Failed
53763,72540391,RESEARCH AND DEVELOPMENT TECHNICIAN,West Yorkshire,PERMANENT FUTURES,non-specified,permanent,Healthcare & Nursing Jobs,21500 - 23500,20130203T120000,20130305T120000,cv-library.co.uk,Failed
53822,72546113,MICROSOFT EXCHANGE ENGINEER,West Malling,CAPITA RESOURCING,non-specified,permanent,IT Jobs,42000 to 43000,20120608T000000,20120807T000000,cv-library.co.uk,Failed
53871,72546683,"IT HELPDESK TECHNICIAN SALE, GREATER MANCHESTER",UK,GREYWOOD ASSOCIATES LTD,non-specified,permanent,IT Jobs,8500,20130930T120000,20131030T120000,cv-library.co.uk,Failed
53968,72557587,NETWORK BILLING ASSISTANT APPRENTICE,Avon,THE INSTITUTE OF TELECOMMUNCATIONS PROFESSIONALS,full-time,non-specified,Accounting & Finance Jobs,8500,20131104T000000,20140103T000000,gov.uk,Failed
53987,72565187,APPRENTICE TELEMARKETING EXECUTIVE,Bolton,KNIGHTSBRIDGE PLC,full-time,non-specified,"PR, Advertising & Marketing Jobs",5760,20120104T000000,20120304T000000,gov.uk,Failed
54002,72578127,CNET DEVELOPER REQUIRED,Hertfordshire,LYNX RECRUITMENT LTD,non-specified,permanent,IT Jobs,40000/year,20121202T120000,20130131T120000,jobserve.com,Failed
54060,72599846,APPRENTICE IT SUPPORT AGENT,Lancashire,BALTIC TRAINING SERVICES,full-time,non-specified,IT Jobs,5760,20120401T150000,20120501T150000,gov.uk,Failed
54231,72610012,GENERAL REGISTERED NURSEDONCASTER,Doncaster,SJB MEDICAL,non-specified,permanent,Healthcare & Nursing Jobs,32000/year,20120101T150000,20120131T150000,nursingtimesjobs.com,Failed
54240,72610096,CARDIAC RECOVERY / SCRUB BAND 5 NURSE HAMPSHIRE,Hampshire,HCL PERMANENT,non-specified,permanent,Healthcare & Nursing Jobs,24150 - 24650,20131204T150000,20140304T150000,nursingtimesjobs.com,Failed
54320,72627342,CARE HOME NURSES LIVERPOOL,Liverpool,HCL PLC,non-specified,permanent,Healthcare & Nursing Jobs,24k,20120531T120000,20120630T120000,careers4a.com,Failed
54330,72627911,EXPERIENCED SOFTWARE DEVELOPER,UK,REPERIO HUMAN CAPITAL LTD,non-specified,permanent,IT Jobs,52k,20121025T150000,20121124T150000,careers4a.com,Failed
54402,72635222,SENIOR CIVIL WATER WASTEWATER DESIGN ENGINEERS,Reading,MOTT MACDONALD WATER ENVIRONMENT,non-specified,permanent,Engineering Jobs,33500/year,20130614T150000,20130714T150000,cv-library.co.uk,Failed
54502,72662522,RETAIL PROJECT MANAGER AMSTERDAM,UK,BESPOKE CAREERS,non-specified,permanent,Engineering Jobs,39750 - 40250,20130104T120000,20130305T120000,careersinconstruction.com,Failed
54509,72662626,SENIOR REVIT TECHNICIAN,Surrey,MUSTARD JOBS,non-specified,permanent,Engineering Jobs,35000 per annum,20131121T000000,20140120T000000,careersinconstruction.com,Failed
54643,72678305,"WEB SYSTEM ENGINEER PRESTIGIOUS MEDIA LINUX, U...",London,DIGITEK RESOURCING LTD,non-specified,permanent,IT Jobs,55000/year,20130222T120000,20130324T120000,jobsite.co.uk,Failed
54655,72678473,ECOMMERCE PROJECT CORDINATOR SAAS / RETAIL REA...,Reading,RETHINK RECRUITMENT SOLUTIONS LTD,non-specified,permanent,IT Jobs,31000 to 36000,20120804T000000,20120903T000000,jobsite.co.uk,Failed
54869,72689404,UAT TEST TEAM LEAD,Surrey,DAMIA GROUP PLC,non-specified,permanent,IT Jobs,40500/year,20121116T120000,20121216T120000,jobsite.co.uk,Failed
54947,72690255,BUSINESS APPLICATION DEVELOPER SQL / CRYSTAL R...,Reading,BURNS SHEEHAN LTD,non-specified,permanent,IT Jobs,32500 per annum,20121103T150000,20130201T150000,jobsite.co.uk,Failed
54950,72690272,INTERMEDIATE DESIGN ENGINEER,London,PANACEA SELECTION LTD,non-specified,permanent,Engineering Jobs,30000/year,20131207T000000,20140106T000000,jobsite.co.uk,Failed
54967,72690549,TEST ANALYSTLINUX,UK,INTEGRITY IT SOLUTIONS LTD,non-specified,permanent,IT Jobs,29500 - 30500,20130521T150000,20130620T150000,jobsite.co.uk,Failed
55049,72692481,LOCUM WOMENS HEALTH PHYSIOTHERAPIST OXFORDSHIRE,UK,JOBSITE JOBS,non-specified,contract,Healthcare & Nursing Jobs,5880,20130624T120000,20130823T120000,jobsite.co.uk,Failed
55058,72694003,LOCUM MUSCULOSKELETAL O/P PHYSIOTHERAPIST BERK...,South East England,THE PLACEMENT GROUP,non-specified,non-specified,Healthcare & Nursing Jobs,6120.0,20120207T000000,20120407T000000,contractjobs.com,Failed
55067,72694140,CHASSIS DESIGN ENGINEER,Warwickshire,HUXLEY ASSOCIATES,non-specified,non-specified,Engineering Jobs,34000/year,20131016T000000,20131215T000000,gojobsearch.co.uk,Failed
55163,72705197,CURRICULUM LEADER MATHEMATICS,Wrexham,NON-SPECIFIED,non-specified,permanent,Teaching Jobs,5006,20130514T120000,20130713T120000,hays.co.uk,Failed

In [55]:
# Take a look at the salary that less than 10000. We found that it may due to the apprentice job title or part-time contract type.
# Hence we keep the data for further analysis.
df[(df['Salary'].str.match('^\d{4}$|^\d{4}\.')) & (df['test_salary']!='OK')]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,test_salary
1101,51593378,HOME CARE WORKERS WATFORD,Watford,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,8160,20120112T120000,20120211T120000,careworx.co.uk,Failed
1210,53652065,PART TIME WEEKEND CARERS POSITIONS AVAILABLE P...,UK,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,7680,20131029T120000,20131112T120000,careworx.co.uk,Failed
1749,57752163,PR NEW TEST,Cambridgeshire,OCC COMPUTER PERSONNEL LTD,full-time,permanent,IT Jobs,7200,20130502T000000,20130731T000000,planetrecruit.com,Failed
1951,59788339,"FIELD CARE SUPERVISOR, WINCHESTER",Winchester,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,7680,20121120T150000,20121204T150000,careworx.co.uk,Failed
2255,62004217,TELESALES APPRENTICE,Doncaster,OPTIMAS TRAINING,non-specified,non-specified,IT Jobs,5184,20120104T150000,20120118T150000,myukjobs.co.uk,Failed
2351,62006760,APPRENTICE SALES MARKETING EXECUTIVE,Lutterworth,OPTIMAS TRAINING,non-specified,non-specified,"PR, Advertising & Marketing Jobs",6000,20120820T000000,20121019T000000,myukjobs.co.uk,Failed
2398,62007710,CALL CENTRE APPRENTICE,Manchester,RECRUITMENT NORTH WEST,non-specified,non-specified,Accounting & Finance Jobs,5760,20130225T000000,20130311T000000,myukjobs.co.uk,Failed
2436,62009519,CNC MACHINIST BORER,Glenrothes,CCN RECRUITMENT,non-specified,non-specified,Engineering Jobs,5268,20120906T000000,20121105T000000,myukjobs.co.uk,Failed
4005,65688880,PART TIME TEL ACCOUNT MANAGER,Exeter,SPRING PERSONNEL,non-specified,permanent,Sales Jobs,9975,20131010T120000,20140108T120000,cv-library.co.uk,Failed
4654,66424531,COMPLIANCE ADMINISTRATOR SHREWSBURY,Shrewsbury,NON-SPECIFIED,part-time,non-specified,Healthcare & Nursing Jobs,7500,20130428T000000,20130512T000000,careworx.co.uk,Failed
4926,66536265,ACCOUNTANCY APPRENTICESHIP,Sunderland,NON-SPECIFIED,full-time,non-specified,Accounting & Finance Jobs,6720,20120106T150000,20120306T150000,gov.uk,Failed
4937,66536605,APPRENTICE FINANCE ASSISTANT,Shipley,IMPROVEMENT TEAM,full-time,non-specified,Accounting & Finance Jobs,7680,20131111T000000,20140110T000000,gov.uk,Failed
4963,66538271,APPRENTICE BAKERY ASSISTANT,Abingdon,MILLETS FRAM CENTRE,full-time,non-specified,Hospitality & Catering Jobs,5760,20121225T150000,20130325T150000,gov.uk,Failed
4971,66538345,CUSTOMER SERVICE ASSISTANT,Liverpool,WGGS APPRENTICESHIPS LTD,full-time,non-specified,Hospitality & Catering Jobs,5280,20120223T000000,20120324T000000,gov.uk,Failed
4985,66538426,APPRENTICE BAR WAITER/WAITRESS,Leeds,IMPROVEMENT TEAM,full-time,non-specified,Hospitality & Catering Jobs,6720,20131208T000000,20140206T000000,gov.uk,Failed
4989,66538486,APPRENTICE CHEF,Burnley,RUNSHAW BUSINESS CENTRE,full-time,non-specified,Hospitality & Catering Jobs,6240,20131104T120000,20131204T120000,gov.uk,Failed
4994,66538563,APPRENTICE COMMIS CHEF,Bury St. Edmunds,NON-SPECIFIED,full-time,non-specified,Hospitality & Catering Jobs,6720,20130523T000000,20130722T000000,gov.uk,Failed
4995,66538564,APPRENTICE WAITER / WAITRESS,Bury St. Edmunds,LIGA UK,full-time,non-specified,Hospitality & Catering Jobs,6720,20120608T120000,20120807T120000,gov.uk,Failed
5009,66541009,JUNIOR WEB DESIGNER,Wakefield,IDENTIFY WEB DESIGN,full-time,non-specified,IT Jobs,9772,20131129T120000,20140128T120000,gov.uk,Failed
5021,66543010,MARKETING APPRENTICE,Truro,NON-SPECIFIED,full-time,non-specified,"PR, Advertising & Marketing Jobs",5088,20121015T000000,20121114T000000,gov.uk,Failed
5068,66544525,APPRENTICE DENTAL NURSE,Trowbridge,THE SOUTH WEST APPRENTICESHIP COMPANY,full-time,non-specified,Healthcare & Nursing Jobs,5424,20130529T000000,20130628T000000,gov.uk,Failed
5077,66546103,INTERNAL SALES,Leicester,ACRYLICS R US,full-time,non-specified,Sales Jobs,9369,20120223T000000,20120423T000000,gov.uk,Failed
5079,66546269,PARTTIME DOOR TO DOOR CANVASSER,Bristol,ABL KITCHENS & BUILDERS,part-time,non-specified,Sales Jobs,9475,20120604T120000,20120618T120000,gov.uk,Failed
5125,66552748,CAMBRIDGE BREAKFAST CHEF GET BACK IN THE KITCH...,UK,CLEAR SELECTION,non-specified,non-specified,Hospitality & Catering Jobs,9600,20120422T000000,20120621T000000,caterer.com,Failed
5175,66555693,ACCOUNTS ADMIN,UK,MPA RECRUITMENT,part-time,contract,Accounting & Finance Jobs,5000,20130117T000000,20130216T000000,nijobs.com,Failed
5370,66596760,MATHS PROGRESS LEADER,Bradford,NON-SPECIFIED,non-specified,permanent,Teaching Jobs,5851,20120529T120000,20120628T120000,hays.co.uk,Failed
5373,66596792,HEAD OF SCIENCE,Swindon,NON-SPECIFIED,non-specified,permanent,Teaching Jobs,6696,20120310T000000,20120509T000000,hays.co.uk,Failed
5411,66600382,PART TIME ESTATE AGENT NEGOTIATOR UK LEADING E...,UK,CONNELLS GROUP,non-specified,permanent,Sales Jobs,7000,20120811T000000,20121010T000000,cv-library.co.uk,Failed
5518,66606057,DEVELOPER,UK,NON-SPECIFIED,non-specified,contract,IT Jobs,5760,20130820T120000,20130903T120000,theitjobboard.co.uk,Failed
5921,66744312,HOSPITALITY APPRENTICESHIP,Southampton,JHP TRAINING,full-time,non-specified,Hospitality & Catering Jobs,5424,20131128T120000,20140127T120000,gov.uk,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
50779,72240166,PROFESSIONAL COOKERY APPRENTICE,East Sheen,REMIT GROUP,non-specified,permanent,Hospitality & Catering Jobs,6384,20130328T120000,20130427T120000,totaljobs.com,Failed
50850,72241521,CUSTOMER ENGAGEMENT EXECUTIVE,Hove,CAPITAL STRATEGY,non-specified,permanent,Sales Jobs,7000,20121115T150000,20130213T150000,totaljobs.com,Failed
51190,72287799,LOCUM COMMUNITY PHYSIOTHERAPIST OXFORDSHIRE,Oxford,THE PLACEMENT GROUP,non-specified,contract,Healthcare & Nursing Jobs,5980,20130520T150000,20130603T150000,careerbuilder.com,Failed
51378,72339596,NURSERY NURSE REQUIRED,Shropshire,PROTOCOL EDUCATION,non-specified,permanent,Teaching Jobs,5952,20130501T120000,20130630T120000,cv-library.co.uk,Failed
51490,72346309,ADVISOR/CUSTOMER SERVICE REPRESENTATIVE GERMAN...,UK,SEC RECRUITMENT LTD,non-specified,permanent,IT Jobs,9516,20120415T120000,20120714T120000,cwjobs.co.uk,Failed
51734,72393471,RESIDENT CONSTRUCTION / PROJECT MANAGER,UK,EWI RECRUITMENT,non-specified,contract,Engineering Jobs,7137,20130204T150000,20130306T150000,ncejobs.co.uk,Failed
51752,72393690,TEAM LEADER ROADS CAPACITY,UK,EWI RECRUITMENT,non-specified,permanent,Engineering Jobs,6206,20120514T150000,20120613T150000,ncejobs.co.uk,Failed
51753,72393694,TL/ RESIDENT ENGINEER,UK,EWI RECRUITMENT,non-specified,contract,Engineering Jobs,6809,20130103T120000,20130304T120000,ncejobs.co.uk,Failed
51761,72394539,CARE TEAM LEADER RESIDENTIAL HOME,Plymouth,LIQUID PERSONNEL,non-specified,permanent,Healthcare & Nursing Jobs,9750,20130603T150000,20130901T150000,careers4a.com,Failed
51785,72395322,SALES PROFESSIONAL INTERNATIONAL MEDIA COMPANY,Birmingham,UKSTAFFSEARCH,part-time,non-specified,Sales Jobs,5500,20131211T000000,20140209T000000,ukstaffsearch.com,Failed
51805,72396004,DINING ROOM ASSISTANTS,Knutsford,2M EMPLOYMENT SOLUTIONS LTD,non-specified,permanent,Hospitality & Catering Jobs,9750,20130525T150000,20130624T150000,careers4a.com,Failed
52691,72445284,BBITS APPRENTICE DEVELOPER LIVERPOOL,Liverpool,QA APPRENTICESHIPS,non-specified,permanent,IT Jobs,7200,20130817T000000,20131016T000000,totaljobs.com,Failed
52706,72445462,ICT SALES APPRENTICESHIP,Milton Keynes,REMIT GROUP,non-specified,permanent,Sales Jobs,5088,20121120T120000,20130218T120000,totaljobs.com,Failed
52721,72445673,DISCOVER IT WEB APPLICATIONS DEVELOPER,Reading,QA APPRENTICESHIPS,non-specified,permanent,IT Jobs,7200,20121111T120000,20130209T120000,totaljobs.com,Failed
52727,72445796,APPRENTICE SUPPORT ENGINEER,Huddersfield,QA LTD,non-specified,permanent,IT Jobs,8320,20120220T150000,20120420T150000,totaljobs.com,Failed
52775,72446317,PURPOSE IT IT SUPPORT TECHNICIAN HIGH WYCOMBE,High Wycombe,QA APPRENTICESHIPS,non-specified,permanent,IT Jobs,7200,20131230T150000,20140129T150000,totaljobs.com,Failed
52876,72447853,MF DIRECT MAIL APPRENTICE DEVELOPER,UK,QA APPRENTICESHIPS,non-specified,permanent,IT Jobs,7200,20121103T120000,20130102T120000,totaljobs.com,Failed
52886,72447938,INSYSTEMS SYSTEMS ENGINEER,Wokingham,QA APPRENTICESHIPS,non-specified,permanent,IT Jobs,8320,20120216T150000,20120416T150000,totaljobs.com,Failed
53061,72450860,GRAPHIC DESIGNER / MARKETING ASSISTANT NORTHAM...,Northampton,CV SCREEN LTD,non-specified,permanent,"PR, Advertising & Marketing Jobs",9500,20120521T120000,20120620T120000,totaljobs.com,Failed
53367,72478040,BAND 6 ELDELRY CARE,Dorchester,THE PLACEMENT GROUP,non-specified,contract,Healthcare & Nursing Jobs,6760,20120413T120000,20120612T120000,careerbuilder.com,Failed
53369,72478300,FLEXIBLE DOMESTIC ASSISTANT,Bournemouth,PENDERELS TRUST,full-time,non-specified,Healthcare & Nursing Jobs,8000,20130310T000000,20130608T000000,careerbuilder.com,Failed
53520,72482086,EARLY YEARS EDUCATOR LEVEL 2 TERM TIME ONLY,UK,4CHILDREN,non-specified,permanent,Teaching Jobs,8590,20120215T000000,20120316T000000,jobsite.co.uk,Failed
53521,72482090,"TEST MANAGER, APPLICATION VIRTUALISATION WINDO...",Chester,HBHC SYNERGY LTD,non-specified,contract,IT Jobs,7920,20131024T120000,20131107T120000,jobsite.co.uk,Failed
53871,72546683,"IT HELPDESK TECHNICIAN SALE, GREATER MANCHESTER",UK,GREYWOOD ASSOCIATES LTD,non-specified,permanent,IT Jobs,8500,20130930T120000,20131030T120000,cv-library.co.uk,Failed
53968,72557587,NETWORK BILLING ASSISTANT APPRENTICE,Avon,THE INSTITUTE OF TELECOMMUNCATIONS PROFESSIONALS,full-time,non-specified,Accounting & Finance Jobs,8500,20131104T000000,20140103T000000,gov.uk,Failed
53987,72565187,APPRENTICE TELEMARKETING EXECUTIVE,Bolton,KNIGHTSBRIDGE PLC,full-time,non-specified,"PR, Advertising & Marketing Jobs",5760,20120104T000000,20120304T000000,gov.uk,Failed
54060,72599846,APPRENTICE IT SUPPORT AGENT,Lancashire,BALTIC TRAINING SERVICES,full-time,non-specified,IT Jobs,5760,20120401T150000,20120501T150000,gov.uk,Failed
55049,72692481,LOCUM WOMENS HEALTH PHYSIOTHERAPIST OXFORDSHIRE,UK,JOBSITE JOBS,non-specified,contract,Healthcare & Nursing Jobs,5880,20130624T120000,20130823T120000,jobsite.co.uk,Failed
55058,72694003,LOCUM MUSCULOSKELETAL O/P PHYSIOTHERAPIST BERK...,South East England,THE PLACEMENT GROUP,non-specified,non-specified,Healthcare & Nursing Jobs,6120.0,20120207T000000,20120407T000000,contractjobs.com,Failed
55163,72705197,CURRICULUM LEADER MATHEMATICS,Wrexham,NON-SPECIFIED,non-specified,permanent,Teaching Jobs,5006,20130514T120000,20130713T120000,hays.co.uk,Failed

4.a we take look for these salary with a range and split by '-' or 'to'. We need to calculate the average salary base on the data. Then assign it back to df

In [56]:
# create the mask so we can filte the data from dataframe
mask_a=(df['Salary'].str.match('^\d{5}\s(-|to)\s\d{5}$')) & (df['test_salary']!='OK')

In [57]:
# calculate the average salary based on the range
cal_a=(df.Salary[mask_a].str.split(' to | - ', n=1).str[0].astype(int) + df.Salary[mask_a].str.split(' to | - ', n=1).str[1].astype(int))/2

In [58]:
# assign it back to dataframe
df.loc[mask_a, 'Salary']=cal_a

4.b We then look at the salary with 'p/h' and 'hour'. We found that the format looks like \d{2} (p/h|hour). So we need to cut the words then calculate the salary for whole year. I checked the relative website that typical british worker may work around 30-36 hours per week. Since the job type is 'part-time' inside this mask, I use 30hour/week.

In [59]:
# create the mask for salary in hour
mask_b=(df['Salary'].str.contains('p/h|hour') & (df['test_salary']!='OK'))

In [60]:
# calculate the result then sign it back
df.loc[mask_b, 'Salary']=df.Salary[mask_b].str.findall('(\d{2})').str.get(0).astype(float)*30*52

4.c Next, we look at the valid salary with extra words in the end. We need cut those words

In [61]:
#  create the mask to filter the group
mask_c=((df['Salary'].str.contains('year|per|pa|annum')) & (df['Salary'].str.contains('^\d{5}')))& (df['test_salary']!='OK')
#  cut the words at the end then assign it back
df.loc[mask_c, 'Salary']=df.Salary[mask_c].str.findall('\d{5}').str.get(0)

4.d Finally, we look at the word 'k' situation. We need cut 'k' first then times 1000 to get the salary

In [62]:
# create mask and do the string adding
mask_d=(df['Salary'].str.contains('k') & df.Salary.str.contains('\d{2}')) & (df['test_salary']!='OK')
df.loc[mask_d, 'Salary']=df.Salary[mask_d].str.findall('(\d{2})').str.get(0)+'000'

In [63]:
# assign the data type to string
df.Salary=df['Salary'].astype(str)

So far we have solve four kinds of major issue in Salary column. Are there more issues?

In [64]:
# check the issue, is there any?
df[~(df['Salary'].str.match('^\d{5}$|^\d{4}$|^\d{5}\.\d$|^\d{4}\.\d$|0'))]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,test_salary
2185,61822755,SHAREPOINT SOLUTION ANALYST / DEVELOPER,Edinburgh Technopole,365 LTD,non-specified,permanent,IT Jobs,120000,20130505T150000,20130803T150000,cwjobs.co.uk,Failed
15183,68495591,IOS DEVELOPER PERMANENT CENTRAL LONDON,London,GREGORY JAMES,non-specified,permanent,IT Jobs,150000,20120423T150000,20120722T150000,jobserve.com,Failed
26971,69181134,OFFICE TECHNICAL ADMINISTRATOR,Cheshire,GROUP CYTEK,full-time,permanent,Engineering Jobs,10000000,20130325T120000,20130424T120000,workthing.com,Failed
48506,71869302,NEW BUSINESS DEVELOPMENT EXEC/MANAGER,Central London,PERISCOPE UK LTD,full-time,permanent,Teaching Jobs,10000000,20131122T120000,20140220T120000,jobs.guardian.co.uk,Failed
48544,71875192,"DIGITAL PRODUCER FULL SERVICE INTEGRATED AGENCY,",Central London,FUTUREHEADS,full-time,permanent,Teaching Jobs,100000,20120805T120000,20121103T120000,jobs.guardian.co.uk,Failed
50585,72236157,CONTRACTS ACCOUNTANT,Eastern England,TIMOTHY JAMES CONSULTING,non-specified,contract,Accounting & Finance Jobs,100000,20130506T150000,20130705T150000,totaljobs.com,Failed

We found some high salary jobs, 100K for a full-time digital producer seems legit. However, 10,000,000 for a Technical Administrator seems way too much. We need to replace these two values in Id '69181134' and '71869302' with '0' so we can do the imputation

In [65]:
# Replace two targets with 0
df.loc[df.Id==69181134, 'Salary'] = '0'
df.loc[df.Id==71869302, 'Salary'] = '0'

In [66]:
# delet the test column
del df['test_salary']

After these steps, in 'Salary' column, we only have these types of the object:
- 12345
- 1234
- 1234.0
- 12345.0
- 123456
- 0

We then can move to the imputation of the Salary

In [67]:
# Change the data type tp float
df.Salary=df['Salary'].astype(float)

In [68]:
# Let us check some job title, for exapmle IT and Sales
df[df['Category'] == "IT Jobs"].describe()

                 Id         Salary
count  1.434400e+04   14344.000000
mean   6.932804e+07   41389.858477
std    2.867071e+06   19769.704855
min    2.752705e+07       0.000000
25%    6.836150e+07   29000.000000
50%    6.917316e+07   40000.000000
75%    7.133585e+07   52500.000000
max    7.270524e+07  150000.000000

In [69]:
df[df['Category'] == "Sales Jobs"].describe()

                 Id        Salary
count  5.349000e+03   5349.000000
mean   6.926131e+07  26898.953823
std    2.711321e+06  12031.293561
min    3.155936e+07      0.000000
25%    6.818042e+07  19000.000000
50%    6.905306e+07  26000.000000
75%    7.118655e+07  35000.000000
max    7.269594e+07  80000.000000

In [70]:
print (df.Category.value_counts())

IT Jobs                             14344
Healthcare & Nursing Jobs            8809
Engineering Jobs                     8210
Accounting & Finance Jobs            7138
Sales Jobs                           5349
Hospitality & Catering Jobs          4788
Teaching Jobs                        3779
PR, Advertising & Marketing Jobs     2752
Name: Category, dtype: int64

In [71]:
# Replace 0.0 with NaN
df.Salary.replace(0.0, np.nan,inplace=True)

In [72]:
# We implement the imputation base on the category
df["Salary"].fillna(df.groupby("Category")["Salary"].transform("mean"), inplace=True)
df.Salary.describe()

count     55169.000000
mean      34413.280982
std       15546.093046
min        5000.000000
25%       23296.000000
50%       31500.000000
75%       42500.000000
max      150000.000000
Name: Salary, dtype: float64

In [74]:
df.Salary=df["Salary"].round(decimals=1)

## Part6. Time column analysis
    We deal with the opendata and closedate columns

In [75]:
# make sure the 'T' in these two columns are in uppercase
df.OpenDate=df.OpenDate.str.upper()
df.CloseDate=df.CloseDate.str.upper()

In [76]:
# Build a regex pattern to filter these two columns
regex_time=re.compile(r'^201[0-5](02(0[1-9]|[12][0-9])|(0[469]|11)(0[1-9]|[12][0-9]|30)|(0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))T([0-1][0-9]|2[0-4])[0-5][0-9][0-5][0-9]$')

In [77]:
# Filter 'OpenData' to see is there any row that not follow the regex pattern
df[~(df['OpenDate'].str.match(regex_time))]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
51062,72245549,COMPLIANCE TECHNICAL PROJECT CONSULTANT,South East London,MICHAEL PAGE FINANCIAL SERVICES,non-specified,permanent,Accounting & Finance Jobs,45000.0,20122302T120000,20120324T120000,totaljobs.com

In [78]:
# Filter 'CloseData'
df[~(df['CloseDate'].str.match(regex_time))]

Empty DataFrame
Columns: [Id, Title, Location, Company, ContractType, ContractTime, Category, Salary, OpenDate, CloseDate, Source]
Index: []

Luckly, there is only one mistake in OpenDate column, it seems the month and date need to be exchanged

In [79]:
df.loc[df.Id==72245549, 'OpenDate'] = '20120223T120000'

In [80]:
df[~(df['OpenDate'].str.match(regex_time))]

Empty DataFrame
Columns: [Id, Title, Location, Company, ContractType, ContractTime, Category, Salary, OpenDate, CloseDate, Source]
Index: []

In [81]:
# Then we convert the two columns to datatime format and do further study
df['OpenDateTest'] = pd.to_datetime(df['OpenDate'])
df['CloseDateTest'] = pd.to_datetime(df['CloseDate'])

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55169 entries, 0 to 55168
Data columns (total 13 columns):
Id               55169 non-null int64
Title            55169 non-null object
Location         55169 non-null object
Company          55169 non-null object
ContractType     55169 non-null object
ContractTime     55169 non-null object
Category         55169 non-null object
Salary           55169 non-null float64
OpenDate         55169 non-null object
CloseDate        55169 non-null object
Source           55169 non-null object
OpenDateTest     55169 non-null datetime64[ns]
CloseDateTest    55169 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(9)
memory usage: 5.5+ MB

In [83]:
# Is there any CloseDate 'Smaller' than the OpenData?
df.loc[df['CloseDateTest'] < df['OpenDateTest']]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,OpenDateTest,CloseDateTest
4383,66190544,NEWLYQUALIFIED NIGHT NURSE,Mansfield,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,21000.0,20120226T150000,20120212T150000,careworx.co.uk,2012-02-26 15:00:00,2012-02-12 15:00:00
7469,67101212,TEMPORARY ASSISTANT FINANCIAL ACCOUNTANT,Cheshire,AXON RESOURCING LTD,full-time,contract,Accounting & Finance Jobs,47500.0,20131123T000000,20131024T000000,gaapweb.com,2013-11-23 00:00:00,2013-10-24 00:00:00
9321,67749488,CLINICAL ADVISOR BRISTOL,Bristol,HAYS HEALTHCARE,full-time,non-specified,Healthcare & Nursing Jobs,37000.0,20121004T150000,20120904T150000,staffnurse.com,2012-10-04 15:00:00,2012-09-04 15:00:00
22772,68844147,SOFT COMMODITIES RELATIONSHIP MANAGER,The City,TAYLOR JAMES RESOURCING LTD,non-specified,permanent,Accounting & Finance Jobs,35000.0,20120912T120000,20120614T120000,londonjobs.co.uk,2012-09-12 12:00:00,2012-06-14 12:00:00
24870,69038983,"SHAREPOINT CONSULTANT, WEST MIDLANDS, MICROSOF...",West Midlands,MORTIMER BELL INTERNATIONAL,non-specified,permanent,IT Jobs,47500.0,20120801T120000,20120702T120000,cwjobs.co.uk,2012-08-01 12:00:00,2012-07-02 12:00:00

In [84]:
# We then do the swap base on the condition
cond = df.CloseDateTest < df.OpenDateTest
df.loc[cond, ['OpenDate', 'CloseDate']] = df.loc[cond, ['CloseDate', 'OpenDate']].values

In [85]:
# Take a look, now we have correct Opendata and Closedate
df.loc[df['CloseDateTest'] < df['OpenDateTest']]

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source,OpenDateTest,CloseDateTest
4383,66190544,NEWLYQUALIFIED NIGHT NURSE,Mansfield,NON-SPECIFIED,non-specified,non-specified,Healthcare & Nursing Jobs,21000.0,20120212T150000,20120226T150000,careworx.co.uk,2012-02-26 15:00:00,2012-02-12 15:00:00
7469,67101212,TEMPORARY ASSISTANT FINANCIAL ACCOUNTANT,Cheshire,AXON RESOURCING LTD,full-time,contract,Accounting & Finance Jobs,47500.0,20131024T000000,20131123T000000,gaapweb.com,2013-11-23 00:00:00,2013-10-24 00:00:00
9321,67749488,CLINICAL ADVISOR BRISTOL,Bristol,HAYS HEALTHCARE,full-time,non-specified,Healthcare & Nursing Jobs,37000.0,20120904T150000,20121004T150000,staffnurse.com,2012-10-04 15:00:00,2012-09-04 15:00:00
22772,68844147,SOFT COMMODITIES RELATIONSHIP MANAGER,The City,TAYLOR JAMES RESOURCING LTD,non-specified,permanent,Accounting & Finance Jobs,35000.0,20120614T120000,20120912T120000,londonjobs.co.uk,2012-09-12 12:00:00,2012-06-14 12:00:00
24870,69038983,"SHAREPOINT CONSULTANT, WEST MIDLANDS, MICROSOF...",West Midlands,MORTIMER BELL INTERNATIONAL,non-specified,permanent,IT Jobs,47500.0,20120702T120000,20120801T120000,cwjobs.co.uk,2012-08-01 12:00:00,2012-07-02 12:00:00

In [86]:
# Then we can delete two test columns
del df['OpenDateTest']
del df['CloseDateTest']

In [87]:
df.head(5)

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
0,12612628,ENGINEERING SYSTEMS ANALYST,Dorking,GREGORY MARTIN INTERNATIONAL,non-specified,permanent,Engineering Jobs,25000.0,20130708T120000,20130906T120000,cv-library.co.uk
1,12612830,STRESS ENGINEER GLASGOW,Glasgow,GREGORY MARTIN INTERNATIONAL,non-specified,permanent,Engineering Jobs,30000.0,20120130T000000,20120330T000000,cv-library.co.uk
2,12612844,MODELLING AND SIMULATION ANALYST,Hampshire,GREGORY MARTIN INTERNATIONAL,non-specified,permanent,Engineering Jobs,30000.0,20121221T150000,20130120T150000,cv-library.co.uk
3,12613049,ENGINEERING SYSTEMS ANALYST / MATHEMATICAL MOD...,Surrey,GREGORY MARTIN INTERNATIONAL,non-specified,permanent,Engineering Jobs,27500.0,20131208T150000,20140206T150000,cv-library.co.uk
4,12613647,"PIONEER, MISER ENGINEERING SYSTEMS ANALYST",Surrey,GREGORY MARTIN INTERNATIONAL,non-specified,permanent,Engineering Jobs,25000.0,20130302T120000,20130501T120000,cv-library.co.uk

In [88]:
df.describe(include=['O'])

,Title,Location,Company,ContractType,ContractTime,Category,OpenDate,CloseDate,Source
count,55169,55169,55169,55169,55169,55169,55169,55169,55169
unique,53144,478,8486,3,3,8,2193,2418,106
top,PROJECT MANAGER,UK,NON-SPECIFIED,non-specified,permanent,IT Jobs,20120415T150000,20131208T000000,totaljobs.com
freq,60,8397,5389,41298,33637,14344,45,45,10102

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55169 entries, 0 to 55168
Data columns (total 11 columns):
Id              55169 non-null int64
Title           55169 non-null object
Location        55169 non-null object
Company         55169 non-null object
ContractType    55169 non-null object
ContractTime    55169 non-null object
Category        55169 non-null object
Salary          55169 non-null float64
OpenDate        55169 non-null object
CloseDate       55169 non-null object
Source          55169 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 4.6+ MB

## Part7. Duplication checking

I drop the 'Source' column for finding any duplication. The reason behind this is one company may post certain job on different website with exactly the same information. Hence it should be considered as duplication when we handle the data set. Beside 'Source', we need to ignore 'Id' column too since it contains unique number and won't make any mean if we include it.

In [90]:
# check duplication
cols = ['Title','Location','Company','ContractType','ContractTime','Salary','OpenDate','CloseDate']
duplicates = df[df.duplicated(cols,keep=False)]
print( "There are "+ str(len(duplicates)) + " duplicate records found")
duplicates.sort_values(by=duplicates.columns.tolist()).head(10)

There are 8 duplicate records found

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,Source
8023,67290277,QUALITY ASSURANCE ENVIRONMENTAL MANAGER NOTTIN...,Nottingham,STEPHEN JAMES CONSULTING,non-specified,permanent,Healthcare & Nursing Jobs,35000.0,20120110T150000,20120409T150000,tntjobs.co.uk
34675,70086310,SENIOR FINANCIAL ADVISOR,London,FRAM EXECUTIVE SEARCH,non-specified,permanent,Accounting & Finance Jobs,40000.0,20130126T000000,20130225T000000,ifaonlinejobs.co.uk
47471,71808610,PENSIONS ADMINISTRATORS,UK,ABENEFIT2U,non-specified,contract,Accounting & Finance Jobs,24000.0,20130801T150000,20130831T150000,professionalpensionsjobs.com
54482,72653751,BARCLAYS FUTURE LEADERS DEVELOPMENT PROGRAMMES,Hackney,BARCLAYS,non-specified,non-specified,IT Jobs,36000.0,20121223T150000,20130221T150000,grb.uk.com
55165,72705205,PENSIONS ADMINISTRATORS,UK,ABENEFIT2U,non-specified,contract,Accounting & Finance Jobs,24000.0,20130801T150000,20130831T150000,cv-library.co.uk
55166,72705221,SENIOR FINANCIAL ADVISOR,London,FRAM EXECUTIVE SEARCH,non-specified,permanent,Accounting & Finance Jobs,40000.0,20130126T000000,20130225T000000,ifaonlinejobs.co.uk
55167,72705240,BARCLAYS FUTURE LEADERS DEVELOPMENT PROGRAMMES,Hackney,BARCLAYS,non-specified,non-specified,IT Jobs,36000.0,20121223T150000,20130221T150000,grb.uk.com
55168,72705244,QUALITY ASSURANCE ENVIRONMENTAL MANAGER NOTTIN...,Nottingham,STEPHEN JAMES CONSULTING,non-specified,permanent,Healthcare & Nursing Jobs,35000.0,20120110T150000,20120409T150000,tntjobs.co.uk

In [92]:
df.shape

(55169, 11)

In [93]:
df = df.drop_duplicates(cols, keep='last')

In [94]:
df.shape

(55165, 11)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55165 entries, 0 to 55168
Data columns (total 11 columns):
Id              55165 non-null int64
Title           55165 non-null object
Location        55165 non-null object
Company         55165 non-null object
ContractType    55165 non-null object
ContractTime    55165 non-null object
Category        55165 non-null object
Salary          55165 non-null float64
OpenDate        55165 non-null object
CloseDate       55165 non-null object
Source          55165 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 5.1+ MB

## Saving data
Save the cleaned data

In [96]:
#code to save output data
df.to_csv('dataset1_solution.csv',index=False)

## Summary
An error list about the original data set

- ID
    - All good
- Title
    - Redundancy of information, for example location and salary info
    - typo and misspelling
    - inappropriate use of special characters
    - inconsistency of word use
    - There is one row with only '*', we need replace it with non-specified
- Location
    - typo and misspelling, for example 'livepool' 
    - inconsistency of word use, such as '-' in between the locations
    - replace 'City' with 'The City'
- Company
    - NaN value, been replaced by 'NON-SPECIFIED'
    - typo and misspelling
    - inappropriate use of special characters
    - inconsistency of word use
- ContractType
    - NaN value, been replaced by 'non-specified'
    - rewrite the column values into 'full-time' and 'part-time'
- ContractTime
    - NaN value, been replaced by 'non-specified'
    - rewrote tje column values into 'permanent' and 'contract'
- Category
    - All good
- Salary
    - Nan, 0 or other characters that do not represent a vaild salary -> need to do the imputation
    - vaild salary with extra characters, include 'per year','annum','p/h','pa' and so on -> need to remove those characters then convert the number in annual salary
    - vaild salary in range and split by '-' and 'to'-> need to take the number in order to calculate the average salary
    - not vaild salary with 'k' in the end -> need to cut 'k' then times 1000 to get the annual salary
    - other suspicious numbers, for example a four digits number may repersent the monthly wage, need to be considered
    - two outliers that way beyond the normal salary
- OpenDate
    - one date invalid formation
    - some opendates 'later' than the closedates
- CloseDate
    - all good
- Source
    - find the Source that not end with .com, .uk, .net and .org -> change it to real website address
    
Plus there are some duplications, please check part7